<a href="https://colab.research.google.com/github/michellssgui22/PROJETOS_ESTUDO/blob/main/Mini_Projeto_Roof_Imoveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mini Projeto - Roof Imóveis
### Michel Souza Santana - 13923
> Entrega 01 - Slot 03

## Contextualização
* Roof Imóveis é uma das maiores empresas do ramo imobiliário Brasileiro
e quer expandir sua área de atuação fazendo um investimento internacional,
com isso, ela contratou você para uma consultoria estratégica.
* A empresa irá investir em imóveis no Condado de County, nos Estados
Unidos.
* Utilizando o dataset disponibilizado, você irá aplicar os conceitos de
CRISP-DM aprendidos até o momento em um projeto prático, que busca
desenvolver seu pensamento analítico, insights e tomada de decisões.

## King County - Condado de King - Washington
* O Condado de King é um dos 39 condados do estado americano de
Washington. A sede e cidade mais populosa do condado é Seattle.
* Foi fundado em 1852. Com mais de 2,2 milhões de habitantes, de acordo
com o censo nacional de 2020, é o condado mais populoso do estado e o 12o
mais populoso do país. Wikipédia
* O Dataset apresenta a venda de imóveis e suas características na região
de Maio de 2014 à Maio de 2015. Tem um total de 21613 registros com um total
de 21 atributos.

> Dataset: https://www.kaggle.com/harlfoxem/housesalesprediction

> Dataset detalhado: https://geodacenter.github.io/data-and-lab/KingCounty-HouseSales2015/

### 1.2 Descrevendo os dados:
O Dataset objeto deste jupyter notebook é referente aos dados de venda de imóveis em *King's County*, condado do estado americano de Washington, entre maio de 2014 e maio de 2015.

Segue a descrição dos dados contindos no referido dataset:

variável | Descrição
----|----
id |	Número de identificação do imóvel
date |	Data da venda
price |	Preço do imóvel na venda
bedrooms |	Número de quartos
bathrooms |	Número de banheiros
sqft_liv |	Tamanho da área habitável, em pés quadradps (square feet).
sqft_lot |	Tamanho do lote do imóvel, em pés quadradps (square feet).
floors | 	Número de andares
waterfront |	Classificação de beira-mar. ‘1’ se a propriedade é beira-mar, ‘0’ em caso negativo.
view |	Classificação de 0 a 4 do quão boa é a visão da propriedade.
condition |	Condição do imóvel, classificado de 1 a 5.
grade |	Classificação da qualidade da construção e materiais. Indicadores de 1 a 13. Mais informações no site governamental do [condado](https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r#g).
sqft_above |	Área de construção acima do térreo.
sqft_basmt |	Área de construção abaixo do solo.
yr_built |	Ano de construção.
yr_renov |	Ano de renovação. '0' se nunca renovado.
zipcode |	Código postal americano contendo 5 dígitos.
lat |	Latitude.
long |	Longitude.
squft_liv15 |	Média de tamanho interior das 15 casas mais próximas, em pés quadrados.
squft_lot15 |	Média de tamanho dos lotes das 15 casas mais próximas, em pés quadrados.

## O Que Devo Fazer?
* A empresa te contratou pois quer saber qual seria os 5 imóveis que
ela deveria investir e o porquê e quais 5 você não recomendaria o
investimento de jeito nenhum.
* Você deve montar um colab bem redigido mostrando o passo a
passo das etapas de análise do case, fazendo uma introdução e dados
atuais sobre o problema.
* Também é importante ressaltar/explicar passagens complexas
ou insights que você tiver durante a resolução desse projeto.

## A Questão de Negócio:

#### Qual a meta?
* Identificar os 5 imóveis mais valorizados e destacar sua cidade

#### Como posso chegar?
* Analisando os dados estarei verificando os imóveis que tiveram mais de uma venda e analizando se no decorrer do tempo houve valorização ou desvalorização deste.

## Entendimento do Negócio:

#### Quais dados eu tenho disponível?
* Dados colhidos junto ao site da Kaglle
> https://www.kaggle.com/datasets/harlfoxem/housesalesprediction/download?datasetVersionNumber=1

#### Eles são relevantes para o problema?
* A principio, sim. Percebe-se logo no inicio a necessidade de tratamento de algumas colunas e talvêz a agregação de mais dados para localização e identificação das cidades.

#### Eles me trazem uma solução direta?
* Não, precisão ser analizados, filtrados e organizados.

#### Qual o meu setor ou range de negócio?
* Imobiliário

## A Coleta de Dados:

In [290]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Importadas as bibliotecas, realizamos a visualização de parte do Dataframe, a fim de verificarmos o formato e disposição dos dados:

In [291]:
# importando dataframe com pandas, declarando a variável "df" como nosso dataframe principal do projeto.
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Limpeza dos Dados

* Verificando quantidade de linhas e colunas existentes na tabela

In [292]:
df.shape

(21613, 21)

* Verificando a existência de dados nulos

In [293]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

* Descrevendo os dados para melhor compreenção e caso possível ja realizar a verificação de possíveis outliers.

In [294]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [295]:
print(f'numeor máximo de banheiros: ', df['bedrooms'].max())
print(f'numeor mínimo de banheiros: ', df['bedrooms'].min())

numeor máximo de banheiros:  33
numeor mínimo de banheiros:  0

> Aqui já se percebe alguns dados a serem tratatos como a existência de 33 banheiros em uma casa e em outra 0.

## Criando um novo DF com as colunas essenciais para nálise

In [296]:
colunas = ['id', 'date', 'price', 'sqft_living', 'sqft_lot', 'view', 'condition', 'grade', 'yr_built', 'yr_renovated', 'zipcode']
df_imob = df.loc[:, colunas] 
df_imob.head()

,id,date,price,sqft_living,sqft_lot,view,condition,grade,yr_built,yr_renovated,zipcode
0,7129300520,20141013T000000,221900.0,1180,5650,0,3,7,1955,0,98178
1,6414100192,20141209T000000,538000.0,2570,7242,0,3,7,1951,1991,98125
2,5631500400,20150225T000000,180000.0,770,10000,0,3,6,1933,0,98028
3,2487200875,20141209T000000,604000.0,1960,5000,0,5,7,1965,0,98136
4,1954400510,20150218T000000,510000.0,1680,8080,0,3,8,1987,0,98074

## Encontre a cidade de cada imóvel;

In [297]:
import requests

# definindo a url alvo da nossa pesquisa

url = 'https://www.zipdatamaps.com/king-wa-county-zipcodes'

# definindo nossa Header, que servir de identificação como um navegador
# comum, e não do pandas.

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

#   Enviando o o pedido ao site, dessa vez apontando nosso Header, e nos identificando
# como navegador.

r = requests.get(url, headers=header)


df_zip_city = pd.read_html(r.text)


#  importado todos os dados da html que foram interpretados pelo pandas como df.
#Agora iremos achar tabela de nosso interesse, que está dentro da lista de
#objetos:

df_zip_city = df_zip_city[1]
df_zip_city

#   Na verdade nossa tabela está dentro de uma coluna de uma tabela maior. 
#Iremos extraí-la de lá com a seguinte linha de código:

df_zip_city = df_zip_city['List of All Zipcodes in King County, Washington']

#   Vamos aproveitar pra tirar os dados que não são úteis. Vamos dropar as colunas
# População e Zip-Type, bem como renomear as colunas úteis (Cidade e Código postal).

# Por fim, iremos transformar a coluna de zipcode em números inteiros, uma vez que
#não iremos usá-los para operações, e o float point pode ser problemático futuramente.

df_zip_city.drop(['Population', 'ZIP Type'], axis=1, inplace=True)
df_zip_city.dropna(axis=0, inplace=True)
df_zip_city['ZIP Code'] = df_zip_city['ZIP Code'].astype(int)
df_zip_city.columns = ['Zip Code', 'City']

# Anexando colunas com as respectivas cidades na tabela
df_imob['city'] = df['zipcode'].map(df_zip_city.set_index('Zip Code')['City'])
df_imob.head()

,id,date,price,sqft_living,sqft_lot,view,condition,grade,yr_built,yr_renovated,zipcode,city
0,7129300520,20141013T000000,221900.0,1180,5650,0,3,7,1955,0,98178,Seattle
1,6414100192,20141209T000000,538000.0,2570,7242,0,3,7,1951,1991,98125,Seattle
2,5631500400,20150225T000000,180000.0,770,10000,0,3,6,1933,0,98028,Kenmore
3,2487200875,20141209T000000,604000.0,1960,5000,0,5,7,1965,0,98136,Seattle
4,1954400510,20150218T000000,510000.0,1680,8080,0,3,8,1987,0,98074,Sammamish

## Calcule o preço por área de imóvel;

In [298]:
df_imob['price_living'] = (df['price'] / df['sqft_living'])
df_imob['price_living'].astype(float)
df_imob.head()

,id,date,price,sqft_living,sqft_lot,view,condition,grade,yr_built,yr_renovated,zipcode,city,price_living
0,7129300520,20141013T000000,221900.0,1180,5650,0,3,7,1955,0,98178,Seattle,188.050847
1,6414100192,20141209T000000,538000.0,2570,7242,0,3,7,1951,1991,98125,Seattle,209.338521
2,5631500400,20150225T000000,180000.0,770,10000,0,3,6,1933,0,98028,Kenmore,233.766234
3,2487200875,20141209T000000,604000.0,1960,5000,0,5,7,1965,0,98136,Seattle,308.163265
4,1954400510,20150218T000000,510000.0,1680,8080,0,3,8,1987,0,98074,Sammamish,303.571429

## Calcule o lucro/ perda de investimento caso o imóvel seja vendido mais de uma vez naquele período.

In [305]:
df_vendas = df[df.duplicated(subset='id', keep=False)]
df_vendas.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,20140725T000000,430000.0,3,1.50,1580,5000,1.0,0,0,...,8,1290,290,1939,0,98117,47.6870,-122.386,1570,4500
94,6021501535,20141223T000000,700000.0,3,1.50,1580,5000,1.0,0,0,...,8,1290,290,1939,0,98117,47.6870,-122.386,1570,4500
313,4139480200,20140618T000000,1384000.0,4,3.25,4290,12103,1.0,0,3,...,11,2690,1600,1997,0,98006,47.5503,-122.102,3860,11244
314,4139480200,20141209T000000,1400000.0,4,3.25,4290,12103,1.0,0,3,...,11,2690,1600,1997,0,98006,47.5503,-122.102,3860,11244
324,7520000520,20140905T000000,232000.0,2,1.00,1240,12092,1.0,0,0,...,6,960,280,1922,1984,98146,47.4957,-122.352,1820,7460

## Contando quantas vezes os imoveis com duplas vendas aparencem

In [300]:
df[df.id.duplicated(keep=False)]['id'].value_counts(sort=True)

795000620     3
6021501535    2
3935900232    2
1217000340    2
9238500040    2
             ..
2621600015    2
2206700215    2
2787460720    2
3883800011    2
7853420110    2
Name: id, Length: 176, dtype: int64

In [301]:
df[df['id'] == 795000620]['price']

17602    115000.0
17603    124000.0
17604    157000.0
Name: price, dtype: float64