# Web Scraping Student
## For: Michel Souza Santana
> Date start: 01/02/2022

* The purpose of this is to record the process of learning the WebScraping technique and make it available to anyone who wants to make use of it for their own development.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import collections

In [6]:
df = pd.read_csv('/home/kali/Documentos/PROJETOS_ESTUDO/Imobiliario-BC-Regiao/imobiliario.csv')
df.head()

,Unnamed: 0,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
0,0,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
1,1,Itajaí,Praia Brava,SC,Apartamento,185.12,3,3,1,3,5926273.63
2,2,Itajaí,Praia Brava,SC,Apartamento,210.00,4,4,1,4,6089548.34
3,3,Balneário Camboriú,Centro,SC,Apartamento,317.10,4,2,1,2,3300000.00
4,4,Balneário Camboriú,Centro,SC,Apartamento,185.63,3,3,4,4,6950000.00

In [7]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
df.shape

(483, 10)

In [9]:
df.isnull().sum()

cidade         0
bairro         0
estado         0
tipo_imovel    0
m2             0
quartos        0
suites         0
banheiros      0
vagas          0
preco          0
dtype: int64

In [10]:
df.duplicated().sum()

18

In [11]:
df = df.drop_duplicates()
df.shape

(465, 10)

In [12]:
df.head()

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
0,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
1,Itajaí,Praia Brava,SC,Apartamento,185.12,3,3,1,3,5926273.63
2,Itajaí,Praia Brava,SC,Apartamento,210.00,4,4,1,4,6089548.34
3,Balneário Camboriú,Centro,SC,Apartamento,317.10,4,2,1,2,3300000.00
4,Balneário Camboriú,Centro,SC,Apartamento,185.63,3,3,4,4,6950000.00

In [13]:
df.loc[df['tipo_imovel'] == 'Sítio']

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
316,Camboriú,Bairro Rio Pequeno,SC,Sítio,28650.74,3,1,3,2,4000000.0

In [14]:
df.drop([300], inplace=True)

In [15]:
df_m2 = pd.DataFrame.sort_values(df, by=['m2'], ascending=False).head(10)
df_m2

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
316,Camboriú,Bairro Rio Pequeno,SC,Sítio,28650.74,3,1,3,2,4000000.00
399,Balneário Camboriú,Barra,SC,Casa,753.00,5,5,8,5,8500000.00
404,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.00
52,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
311,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.00
5,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.00
435,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.00
75,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.00
469,Balneário Camboriú,Frente Mar,SC,Apartamento,380.00,4,3,5,2,6300000.00
56,Camboriú,Centro,SC,Casa,370.00,3,3,3,3,3750000.00

In [16]:
corr = df[['m2', 'quartos', 'suites', 'banheiros', 'preco']]

In [17]:
corr.corr()

                 m2   quartos    suites  banheiros     preco
m2         1.000000  0.021373 -0.038568   0.039260  0.052794
quartos    0.021373  1.000000  0.779356   0.275429  0.629791
suites    -0.038568  0.779356  1.000000   0.344135  0.622361
banheiros  0.039260  0.275429  0.344135   1.000000  0.321744
preco      0.052794  0.629791  0.622361   0.321744  1.000000

In [18]:
df.describe()

,m2,quartos,suites,banheiros,vagas,preco
count,464.000000,464.000000,464.000000,464.000000,464.000000,4.640000e+02
mean,225.319763,3.312500,2.900862,2.377155,2.625000,3.530252e+06
std,1324.846269,0.807213,1.178863,1.567073,1.044113,2.905202e+06
min,55.000000,1.000000,1.000000,1.000000,1.000000,0.000000e+00
25%,122.620000,3.000000,2.000000,1.000000,2.000000,1.780000e+06
50%,146.000000,3.000000,3.000000,2.000000,3.000000,2.755500e+06
75%,185.247500,4.000000,4.000000,4.000000,3.000000,4.510500e+06
max,28650.740000,6.000000,6.000000,8.000000,8.000000,2.490000e+07

In [19]:
collections.Counter(df['preco'] == 0)

Counter({False: 463, True: 1})

In [20]:
df.loc[df['preco'] == 0, 'preco'] = None

In [21]:
df.isnull().sum()

cidade         0
bairro         0
estado         0
tipo_imovel    0
m2             0
quartos        0
suites         0
banheiros      0
vagas          0
preco          1
dtype: int64

In [22]:
df = df.dropna()

In [23]:
df.describe()

,m2,quartos,suites,banheiros,vagas,preco
count,463.000000,463.000000,463.000000,463.000000,463.000000,4.630000e+02
mean,225.386868,3.311015,2.898488,2.373650,2.624190,3.537877e+06
std,1326.278521,0.807452,1.179028,1.566947,1.045097,2.903693e+06
min,55.000000,1.000000,1.000000,1.000000,1.000000,5.500000e+05
25%,122.540000,3.000000,2.000000,1.000000,2.000000,1.781927e+06
50%,146.000000,3.000000,3.000000,2.000000,3.000000,2.761000e+06
75%,185.060000,4.000000,4.000000,4.000000,3.000000,4.521000e+06
max,28650.740000,6.000000,6.000000,8.000000,8.000000,2.490000e+07

In [24]:
df_preco = df.sort_values(by=('preco'), ascending=False).head(10)
df_preco

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
311,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.0
404,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.0
5,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.0
75,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.0
115,Balneário Camboriú,Centro,SC,Apartamento,287.34,4,4,1,5,14750000.0
435,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.0
177,Balneário Camboriú,Centro,SC,Apartamento,361.20,4,4,1,3,13046103.0
229,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12800000.0
403,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12500000.0
256,Balneário Camboriú,Centro,SC,Apartamento,230.86,4,4,4,4,11750000.0

In [25]:
df_merge = df_preco.merge(df_m2)

In [26]:
df_merge

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
0,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.0
1,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.0
2,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.0
3,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.0
4,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.0

In [27]:
df_agrupado = df.groupby(['cidade'])['preco'].mean().to_frame().sort_values(by=['preco'], ascending=False).reset_index()
df_agrupado

                 cidade         preco
0              Itapema   8.268200e+06
1               Itajaí   4.227048e+06
2   Balneário Camboriú   3.584330e+06
3             Camboriú   1.082120e+06

In [28]:
df['cidade'].unique()

array([' Itajaí ', ' Balneário Camboriú ', ' Camboriú ', ' Itapema '],
      dtype=object)

In [29]:
df_itapema = df.loc[df['cidade'] == ' Itapema '].sort_values(by=['preco'], ascending=False).head(10)
df_itapema

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
75,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.0
435,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.0
76,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,4150000.0
73,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,3940000.0
436,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,4,3,3850000.0

In [30]:
df_bc = df.loc[df['cidade'] == ' Balneário Camboriú '].sort_values(by=['preco'], ascending=False).head(10)
df_bc

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
311,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.0
404,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.0
5,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.0
115,Balneário Camboriú,Centro,SC,Apartamento,287.34,4,4,1,5,14750000.0
177,Balneário Camboriú,Centro,SC,Apartamento,361.20,4,4,1,3,13046103.0
256,Balneário Camboriú,Centro,SC,Apartamento,230.86,4,4,4,4,11750000.0
348,Balneário Camboriú,Barra Sul,SC,Apartamento,226.61,4,4,5,2,10895000.0
13,Balneário Camboriú,Centro,SC,Apartamento,238.00,4,4,1,4,10500000.0
325,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,237.00,4,4,4,4,10300000.0
324,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,238.00,4,4,4,4,10300000.0

In [31]:
df_itajai = df.loc[df['cidade'] == ' Itajaí '].sort_values(by=['preco'], ascending=False).head(10)
df_itajai

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
229,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12800000.00
403,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12500000.00
266,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9325179.16
326,Itajaí,Praia Brava,SC,Apartamento,268.00,4,4,4,4,9300000.00
265,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9222179.78
166,Itajaí,Praia Brava,SC,Apartamento,226.00,4,4,1,4,8400000.00
52,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
328,Itajaí,Praia Brava,SC,Apartamento,207.00,4,4,4,4,7400000.00
0,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
51,Itajaí,Praia Brava,SC,Apartamento,361.58,4,4,1,4,7091211.98

In [32]:
df_camboriu = df.loc[df['cidade'] == ' Camboriú '].sort_values(by=['preco'], ascending=False).head(10)
df_camboriu

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
316,Camboriú,Bairro Rio Pequeno,SC,Sítio,28650.74,3,1,3,2,4000000.00
56,Camboriú,Centro,SC,Casa,370.00,3,3,3,3,3750000.00
454,Camboriú,Santa Regina,SC,Casa,233.02,3,3,3,5,2500000.00
329,Camboriú,Centro,SC,Sobrado,180.00,3,1,3,3,1400000.00
351,Camboriú,São Francisco de Assis,SC,Apartamento,116.00,3,1,1,2,1000000.00
350,Camboriú,São Francisco de Assis,SC,Apartamento,120.00,3,1,1,2,1000000.00
112,Camboriú,Tabuleiro,SC,Apartamento,98.84,2,2,1,1,999631.44
106,Camboriú,Tabuleiro,SC,Apartamento,96.93,3,1,1,2,969367.79
113,Camboriú,Tabuleiro,SC,Apartamento,93.87,2,2,1,1,951639.17
104,Camboriú,Tabuleiro,SC,Apartamento,93.94,3,1,1,2,931767.12

In [33]:
df_top = pd.concat([df_itapema, df_bc, df_itajai, df_camboriu], axis=0, join='inner')

In [34]:
df_top

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
75,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.00
435,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.00
76,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,4150000.00
73,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,3940000.00
436,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,4,3,3850000.00
311,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.00
404,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.00
5,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.00
115,Balneário Camboriú,Centro,SC,Apartamento,287.34,4,4,1,5,14750000.00
177,Balneário Camboriú,Centro,SC,Apartamento,361.20,4,4,1,3,13046103.00
256,Balneário Camboriú,Centro,SC,Apartamento,230.86,4,4,4,4,11750000.00
348,Balneário Camboriú,Barra Sul,SC,Apartamento,226.61,4,4,5,2,10895000.00
13,Balneário Camboriú,Centro,SC,Apartamento,238.00,4,4,1,4,10500000.00
325,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,237.00,4,4,4,4,10300000.00
324,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,238.00,4,4,4,4,10300000.00
229,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12800000.00
403,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12500000.00
266,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9325179.16
326,Itajaí,Praia Brava,SC,Apartamento,268.00,4,4,4,4,9300000.00
265,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9222179.78
166,Itajaí,Praia Brava,SC,Apartamento,226.00,4,4,1,4,8400000.00
52,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
328,Itajaí,Praia Brava,SC,Apartamento,207.00,4,4,4,4,7400000.00
0,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
51,Itajaí,Praia Brava,SC,Apartamento,361.58,4,4,1,4,7091211.98
316,Camboriú,Bairro Rio Pequeno,SC,Sítio,28650.74,3,1,3,2,4000000.00
56,Camboriú,Centro,SC,Casa,370.00,3,3,3,3,3750000.00
454,Camboriú,Santa Regina,SC,Casa,233.02,3,3,3,5,2500000.00
329,Camboriú,Centro,SC,Sobrado,180.00,3,1,3,3,1400000.00
351,Camboriú,São Francisco de Assis,SC,Apartamento,116.00,3,1,1,2,1000000.00
350,Camboriú,São Francisco de Assis,SC,Apartamento,120.00,3,1,1,2,1000000.00
112,Camboriú,Tabuleiro,SC,Apartamento,98.84,2,2,1,1,999631.44
106,Camboriú,Tabuleiro,SC,Apartamento,96.93,3,1,1,2,969367.79
113,Camboriú,Tabuleiro,SC,Apartamento,93.87,2,2,1,1,951639.17
104,Camboriú,Tabuleiro,SC,Apartamento,93.94,3,1,1,2,931767.12

In [35]:
m_m2 = float(df_top['m2'].mean())
m_quartos = float(df_top['quartos'].mean())
m_vagas = float(df_top['vagas'].mean())
m_preco = float(df_top['preco'].mean())
print(f'Média de m2 {m_m2:.2f}')
print(f'Média de quartos {m_quartos:.2f}')
print(f'Média de vagas {m_vagas:.2f}')
print(f'Média de preco {m_preco:.2f}')

Média de m2 1081.94
Média de quartos 3.91
Média de vagas 3.40
Média de preco 8518065.84

In [36]:
df_melhor_custo = df_top.loc[df_top['preco'] <= (m_preco + 2000000)]
df_melhor_custo = df_melhor_custo.loc[df_melhor_custo['preco'] >= (m_preco - 2000000)]
df_melhor_custo

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
13,Balneário Camboriú,Centro,SC,Apartamento,238.00,4,4,1,4,10500000.00
325,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,237.00,4,4,4,4,10300000.00
324,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,238.00,4,4,4,4,10300000.00
266,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9325179.16
326,Itajaí,Praia Brava,SC,Apartamento,268.00,4,4,4,4,9300000.00
265,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9222179.78
166,Itajaí,Praia Brava,SC,Apartamento,226.00,4,4,1,4,8400000.00
52,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
328,Itajaí,Praia Brava,SC,Apartamento,207.00,4,4,4,4,7400000.00
0,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
51,Itajaí,Praia Brava,SC,Apartamento,361.58,4,4,1,4,7091211.98