# Web Scraping Student
## For: Michel Souza Santana
> Date start: 01/02/2022

* The purpose of this is to record the process of learning the WebScraping technique and make it available to anyone who wants to make use of it for their own development.

In [405]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import collections

In [406]:
df = pd.read_csv('/home/michel/Documentos/PROJETOS_ESTUDO/Imobiliario-BC-Regiao/imobiliario.csv')
df.head()

,Unnamed: 0,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
0,0,Balneário Camboriú,Nações,SC,Apartamento,64.91,2,1,1,1,786433.15
1,1,Balneário Camboriú,Nações,SC,Apartamento,98.83,2,2,1,1,907063.86
2,2,Itajaí,Praia Brava,SC,Apartamento,121.22,3,1,1,2,1568373.98
3,3,Itajaí,Praia Brava,SC,Apartamento,93.92,2,2,1,1,1139371.54
4,4,Balneário Camboriú,Nações,SC,Apartamento,62.40,2,1,1,1,735743.13

In [407]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [408]:
df.shape

(495, 10)

In [409]:
df.isnull().sum()

cidade         0
bairro         0
estado         0
tipo_imovel    0
m2             0
quartos        0
suites         0
banheiros      0
vagas          0
preco          0
dtype: int64

In [410]:
df.duplicated().sum()

22

In [411]:
df = df.drop_duplicates()
df.shape

(473, 10)

In [412]:
df.head()

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
0,Balneário Camboriú,Nações,SC,Apartamento,64.91,2,1,1,1,786433.15
1,Balneário Camboriú,Nações,SC,Apartamento,98.83,2,2,1,1,907063.86
2,Itajaí,Praia Brava,SC,Apartamento,121.22,3,1,1,2,1568373.98
3,Itajaí,Praia Brava,SC,Apartamento,93.92,2,2,1,1,1139371.54
4,Balneário Camboriú,Nações,SC,Apartamento,62.40,2,1,1,1,735743.13

In [413]:
df.loc[df['tipo_imovel'] == 'Sítio']

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
300,Camboriú,Bairro Rio Pequeno,SC,Sítio,28650.74,3,1,3,2,4000000.0

In [414]:
df.drop([300], inplace=True)

In [415]:
df_m2 = pd.DataFrame.sort_values(df, by=['m2'], ascending=False).head(10)
df_m2

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
409,Balneário Camboriú,Barra,SC,Casa,753.00,5,5,8,5,8500000.00
414,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.00
134,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
295,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.00
88,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.00
54,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.00
446,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.00
480,Balneário Camboriú,Frente Mar,SC,Apartamento,380.00,4,3,5,2,6300000.00
33,Camboriú,Centro,SC,Casa,370.00,3,3,3,3,3750000.00
178,Balneário Camboriú,Centro,SC,Apartamento,368.89,5,5,6,6,8963360.00

In [416]:
corr = df[['m2', 'quartos', 'suites', 'banheiros', 'preco']]

In [417]:
corr.corr()

                 m2   quartos    suites  banheiros     preco
m2         1.000000  0.659926  0.614644   0.350567  0.756591
quartos    0.659926  1.000000  0.783096   0.277336  0.631042
suites     0.614644  0.783096  1.000000   0.347400  0.627356
banheiros  0.350567  0.277336  0.347400   1.000000  0.322225
preco      0.756591  0.631042  0.627356   0.322225  1.000000

In [418]:
df.describe()

,m2,quartos,suites,banheiros,vagas,preco
count,472.000000,472.000000,472.000000,472.000000,472.000000,4.720000e+02
mean,163.747225,3.307203,2.896186,2.341102,2.618644,3.524748e+06
std,79.345987,0.814486,1.181881,1.565338,1.048055,2.909133e+06
min,55.000000,1.000000,1.000000,1.000000,1.000000,0.000000e+00
25%,122.337500,3.000000,2.000000,1.000000,2.000000,1.780000e+06
50%,146.000000,3.000000,3.000000,1.000000,3.000000,2.755500e+06
75%,186.385000,4.000000,4.000000,4.000000,3.000000,4.544000e+06
max,753.000000,6.000000,6.000000,8.000000,8.000000,2.490000e+07

In [419]:
collections.Counter(df['preco'] == 0)

Counter({False: 471, True: 1})

In [420]:
df.loc[df['preco'] == 0, 'preco'] = None

In [421]:
df.isnull().sum()

cidade         0
bairro         0
estado         0
tipo_imovel    0
m2             0
quartos        0
suites         0
banheiros      0
vagas          0
preco          1
dtype: int64

In [422]:
df = df.dropna()

In [423]:
df.describe()

,m2,quartos,suites,banheiros,vagas,preco
count,471.000000,471.000000,471.000000,471.000000,471.000000,4.710000e+02
mean,163.682463,3.305732,2.893843,2.337580,2.617834,3.532231e+06
std,79.417864,0.814724,1.182039,1.565129,1.049022,2.907675e+06
min,55.000000,1.000000,1.000000,1.000000,1.000000,5.500000e+05
25%,122.325000,3.000000,2.000000,1.000000,2.000000,1.781927e+06
50%,146.000000,3.000000,3.000000,1.000000,3.000000,2.761000e+06
75%,185.375000,4.000000,4.000000,4.000000,3.000000,4.546000e+06
max,753.000000,6.000000,6.000000,8.000000,8.000000,2.490000e+07

In [424]:
df_preco = df.sort_values(by=('preco'), ascending=False).head(10)
df_preco

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
295,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.0
414,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.0
88,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.0
54,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.0
26,Balneário Camboriú,Centro,SC,Apartamento,287.34,4,4,1,5,14750000.0
446,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.0
105,Balneário Camboriú,Centro,SC,Apartamento,361.20,4,4,1,3,13046103.0
183,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12800000.0
413,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12500000.0
212,Balneário Camboriú,Centro,SC,Apartamento,230.86,4,4,4,4,11750000.0

In [425]:
df_merge = df_preco.merge(df_m2)

In [426]:
df_merge

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
0,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.0
1,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.0
2,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.0
3,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.0
4,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.0

In [427]:
df_agrupado = df.groupby(['cidade'])['preco'].mean().to_frame().sort_values(by=['preco'], ascending=False).reset_index()
df_agrupado

                 cidade         preco
0              Itapema   8.268200e+06
1               Itajaí   4.059281e+06
2   Balneário Camboriú   3.591486e+06
3             Camboriú   9.743799e+05

In [428]:
df['cidade'].unique()

array([' Balneário Camboriú ', ' Itajaí ', ' Camboriú ', ' Itapema '],
      dtype=object)

In [429]:
df_itapema = df.loc[df['cidade'] == ' Itapema '].sort_values(by=['preco'], ascending=False).head(10)
df_itapema

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
54,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.0
446,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.0
55,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,4150000.0
52,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,3940000.0
447,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,4,3,3850000.0

In [430]:
df_bc = df.loc[df['cidade'] == ' Balneário Camboriú '].sort_values(by=['preco'], ascending=False).head(10)
df_bc

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
295,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.0
414,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.0
88,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.0
26,Balneário Camboriú,Centro,SC,Apartamento,287.34,4,4,1,5,14750000.0
105,Balneário Camboriú,Centro,SC,Apartamento,361.20,4,4,1,3,13046103.0
212,Balneário Camboriú,Centro,SC,Apartamento,230.86,4,4,4,4,11750000.0
347,Balneário Camboriú,Barra Sul,SC,Apartamento,226.61,4,4,5,2,10895000.0
46,Balneário Camboriú,Centro,SC,Apartamento,238.00,4,4,1,4,10500000.0
47,Balneário Camboriú,Centro,SC,Apartamento,237.00,4,4,1,4,10500000.0
309,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,237.00,4,4,4,4,10300000.0

In [431]:
df_itajai = df.loc[df['cidade'] == ' Itajaí '].sort_values(by=['preco'], ascending=False).head(10)
df_itajai

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
183,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12800000.00
413,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12500000.00
225,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9325179.16
310,Itajaí,Praia Brava,SC,Apartamento,268.00,4,4,4,4,9300000.00
224,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9222179.78
91,Itajaí,Praia Brava,SC,Apartamento,226.00,4,4,1,4,8400000.00
134,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
312,Itajaí,Praia Brava,SC,Apartamento,207.00,4,4,4,4,7400000.00
50,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
132,Itajaí,Praia Brava,SC,Apartamento,361.58,4,4,1,4,7091211.98

In [432]:
df_camboriu = df.loc[df['cidade'] == ' Camboriú '].sort_values(by=['preco'], ascending=False).head(10)
df_camboriu

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
33,Camboriú,Centro,SC,Casa,370.00,3,3,3,3,3750000.00
465,Camboriú,Santa Regina,SC,Casa,233.02,3,3,3,5,2500000.00
313,Camboriú,Centro,SC,Sobrado,180.00,3,1,3,3,1400000.00
357,Camboriú,São Francisco de Assis,SC,Apartamento,116.00,3,1,1,2,1000000.00
356,Camboriú,São Francisco de Assis,SC,Apartamento,120.00,3,1,1,2,1000000.00
23,Camboriú,Tabuleiro,SC,Apartamento,98.84,2,2,1,1,999631.44
17,Camboriú,Tabuleiro,SC,Apartamento,96.93,3,1,1,2,969367.79
24,Camboriú,Tabuleiro,SC,Apartamento,93.87,2,2,1,1,951639.17
15,Camboriú,Tabuleiro,SC,Apartamento,93.94,3,1,1,2,931767.12
19,Camboriú,Tabuleiro,SC,Apartamento,95.23,3,1,1,2,878437.63

In [433]:
df_top = pd.concat([df_itapema, df_bc, df_itajai, df_camboriu], axis=0, join='inner')

In [434]:
df_top

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
54,Itapema,Meia Praia,SC,Apartamento,427.44,5,5,1,4,14860000.00
446,Itapema,Meia Praia,SC,Cobertura,427.44,5,5,5,4,14541000.00
55,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,4150000.00
52,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,1,3,3940000.00
447,Itapema,Meia Praia,SC,Apartamento,213.72,4,4,4,3,3850000.00
295,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,475.00,6,6,8,6,24900000.00
414,Balneário Camboriú,Frente Mar Barra Sul,SC,Cobertura,600.00,6,6,6,4,21400000.00
88,Balneário Camboriú,Praia do Estaleiro,SC,Casa,458.00,5,4,1,4,20000000.00
26,Balneário Camboriú,Centro,SC,Apartamento,287.34,4,4,1,5,14750000.00
105,Balneário Camboriú,Centro,SC,Apartamento,361.20,4,4,1,3,13046103.00
212,Balneário Camboriú,Centro,SC,Apartamento,230.86,4,4,4,4,11750000.00
347,Balneário Camboriú,Barra Sul,SC,Apartamento,226.61,4,4,5,2,10895000.00
46,Balneário Camboriú,Centro,SC,Apartamento,238.00,4,4,1,4,10500000.00
47,Balneário Camboriú,Centro,SC,Apartamento,237.00,4,4,1,4,10500000.00
309,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,237.00,4,4,4,4,10300000.00
183,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12800000.00
413,Itajaí,Praia Brava,SC,Apartamento,350.00,5,5,5,5,12500000.00
225,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9325179.16
310,Itajaí,Praia Brava,SC,Apartamento,268.00,4,4,4,4,9300000.00
224,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9222179.78
91,Itajaí,Praia Brava,SC,Apartamento,226.00,4,4,1,4,8400000.00
134,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
312,Itajaí,Praia Brava,SC,Apartamento,207.00,4,4,4,4,7400000.00
50,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
132,Itajaí,Praia Brava,SC,Apartamento,361.58,4,4,1,4,7091211.98
33,Camboriú,Centro,SC,Casa,370.00,3,3,3,3,3750000.00
465,Camboriú,Santa Regina,SC,Casa,233.02,3,3,3,5,2500000.00
313,Camboriú,Centro,SC,Sobrado,180.00,3,1,3,3,1400000.00
357,Camboriú,São Francisco de Assis,SC,Apartamento,116.00,3,1,1,2,1000000.00
356,Camboriú,São Francisco de Assis,SC,Apartamento,120.00,3,1,1,2,1000000.00
23,Camboriú,Tabuleiro,SC,Apartamento,98.84,2,2,1,1,999631.44
17,Camboriú,Tabuleiro,SC,Apartamento,96.93,3,1,1,2,969367.79
24,Camboriú,Tabuleiro,SC,Apartamento,93.87,2,2,1,1,951639.17
15,Camboriú,Tabuleiro,SC,Apartamento,93.94,3,1,1,2,931767.12
19,Camboriú,Tabuleiro,SC,Apartamento,95.23,3,1,1,2,878437.63

In [442]:
m_m2 = float(df_top['m2'].mean())
m_quartos = float(df_top['quartos'].mean())
m_vagas = float(df_top['vagas'].mean())
m_preco = float(df_top['preco'].mean())
print(f'Média de m2 {m_m2:.2f}')
print(f'Média de quartos {m_quartos:.2f}')
print(f'Média de vagas {m_vagas:.2f}')
print(f'Média de preco {m_preco:.2f}')

Média de m2 266.04
Média de quartos 3.91
Média de vagas 3.40
Média de preco 8434592.63

In [444]:
df_melhor_custo = df_top.loc[df_top['preco'] <= (m_preco + 2000000)]
df_melhor_custo = df_melhor_custo.loc[df_melhor_custo['preco'] >= (m_preco - 2000000)]
df_melhor_custo

,cidade,bairro,estado,tipo_imovel,m2,quartos,suites,banheiros,vagas,preco
309,Balneário Camboriú,Frente Mar Barra Sul,SC,Apartamento,237.00,4,4,4,4,10300000.00
225,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9325179.16
310,Itajaí,Praia Brava,SC,Apartamento,268.00,4,4,4,4,9300000.00
224,Itajaí,Praia Brava,SC,Apartamento,226.07,4,4,1,4,9222179.78
91,Itajaí,Praia Brava,SC,Apartamento,226.00,4,4,1,4,8400000.00
134,Itajaí,Praia Brava,SC,Apartamento,548.14,4,4,1,3,8209224.83
312,Itajaí,Praia Brava,SC,Apartamento,207.00,4,4,4,4,7400000.00
50,Itajaí,Praia dos Amores,SC,Apartamento,203.53,4,4,1,2,7200000.00
132,Itajaí,Praia Brava,SC,Apartamento,361.58,4,4,1,4,7091211.98