# Projeto Covid - Situação Brasil
## Por: Michel Souza Santana
> Data: 21/01/2023

* Fonte: https://www.kaggle.com/competitions/titanic/overview

## Questão de Negócio
> Identificar o problema de negócio a ser resolvido

## Entendimento do Negócio
> ...

### Visão geral
Os dados foram divididos em dois grupos:

> conjunto de treinamento (train.csv)

> conjunto de teste (test.csv)

* O conjunto de treinamento deve ser usado para criar seus modelos de aprendizado de máquina. Para o conjunto de treinamento, fornecemos o resultado (também conhecido como “verdade básica”) para cada passageiro. Seu modelo será baseado em “características” como gênero e classe dos passageiros. Você também pode usar a engenharia de recursos para criar novos recursos.

* O conjunto de teste deve ser usado para ver o desempenho do seu modelo em dados não vistos. Para o conjunto de teste, não fornecemos a verdade básica para cada passageiro. É seu trabalho prever esses resultados. Para cada passageiro no conjunto de teste, use o modelo que você treinou para prever se eles sobreviveram ou não ao naufrágio do Titanic.

* Também incluímos gender_submission.csv , um conjunto de previsões que assumem que todas e apenas as passageiras sobrevivem, como um exemplo de como deve ser um arquivo de envio.

### Dicionário de dados
* Variável	Definição	Chave
* sobrevivência	Sobrevivência	0 = Não, 1 = Sim
* pclass	classe de ingresso	1 = 1º, 2 = 2º, 3 = 3º
* sexo	Sexo	
* Era	Idade em anos	
* sibsp	Nº de irmãos/cônjuges a bordo do Titanic	
* pergaminho	Nº de pais/filhos a bordo do Titanic	
* bilhete	Número do bilhete	
* tarifa	Tarifa de passageiro	
* cabine	número da cabine	
* embarcou	Porto de embarcação	C = Cherbourg, Q = Queenstown, S = Southampton

### Notas Variáveis
pclass : Um proxy para status socioeconômico (SES)
* 1º = Superior
* 2º = Médio
* 3º = Menor

idade : A idade é fracionária se for menor que 1. Se a idade for estimada, está na forma de xx,

5 sibsp : O conjunto de dados define as relações familiares desta forma...
Irmão = irmão, irmã, meio-irmão, meia-irmã
Cônjuge = marido, esposa (amantes e noivos foram ignorados)

parch : O conjunto de dados define as relações familiares desta forma...
Pai = mãe, pai
Filho = filha, filho, enteada, enteado
Algumas crianças viajaram apenas com babá, portanto parch=0 para elas.

## Coleta de Dados
> ...

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('titanic/test.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Limpeza dos Dados
> ...

## Exploração dos Dados
> ...

## Modelagem dos Dados
> ...

## Algoritmos de Machine Laearning
> ...

## Avaliação do algoritimo
> ...

## Storytelling
> ...