# Projeto Covid - Situação Brasil
## Por: Michel Souza Santana
> Data: 20/01/2023

### Objetivos
* Requisitar de um site on-line via url dados sobre a covid19
* Armazenar os dados capturados em uma tabela
* Organizar e limpar os dados

> O propósito final desse projeto é fazer uma comparação entre casos confirmados e mortes registradas para avaliar a letalidade desta doênça.

OBS: A parte de análise desse projeto segue no arquivo anexo 'PS2-covid_analise_dados.ipynb'

> Importação das bibliotecas a serem utilizadas no projeto

In [2]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
from bs4 import BeautifulSoup

> Importando dados via URL do site https://news.google.com/covid19/map?hl=pt-BR&mid=%2Fm%2F015fr&gl=BR&ceid=BR%3Apt-419 (Escolhido aleatoriamente)

* Após importação dos dados, estarei fazendo uso do BeaultifulSoup para enchugar estes por meio de seleção via 'tag'

In [3]:
html = urlopen('https://news.google.com/covid19/map?hl=pt-BR&mid=%2Fm%2F015fr&gl=BR&ceid=BR%3Apt-419')
bs = BeautifulSoup(html.read(), 'html.parser')
dados = bs.findAll('tr', {'class': 'sgXwHf wdLSAe YvL7re'})
dados[:2]

[<tr class="sgXwHf wdLSAe YvL7re" data-id="/m/01hd58" jsaction="click:KoQL8" jslog="110764; track:click"><th class="l3HOY" role="rowheader" scope="row"><div class="TWa0lb"><div class="ggJ3df" jsaction="JIbuQc:ROTNpb" jslog="113725; track:click"><button aria-label="Liberada" class="VfPpkd-Bz112c-LgbsSe yHy1rc eT1oJ mN1ivc Vs1w5b" data-disable-idom="true" data-n-mid="/m/01hd58" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" jscontroller="soHxf"><div class="VfPpkd-Bz112c-Jh9lGc" jsname="s3Eaab"></div><div class="VfPpkd-Bz112c-J1Ukfc-LhBDec"></div><span aria-hidden="true" class="VfPpkd-kBDsod gsIK3e"><svg class="Xa3RBb NMm5M" focusable="false" height="16" viewbox="0 0 24 24" width="16"><path d="M0 0h24v24H0z" fill="none" stroke="#000" stroke-opacity=".008" stroke-width="0"></path><path d="M17 4v7l2 3v2h-6v5l-1 1-1-1v-5H5v-2l2-3V4c0-1.1.9-2 2-2h6c1.11 0 2 .89 2 2zM9 4v7.75L7.5 14h9L15 11.75V4H9z"></path></svg></span></button></div><div class="pcAJd">São Paulo</div></div></th><td class="l3HOY">6.389.460</td><td class="l3HOY">12.450</td><td class="l3HOY"><img alt="Gráfico de tendências de 60 dias" aria-label="Gráfico de tendências de 60 dias" class="dt3Iuf zC7z7b nBjBX" loading="lazy" src="//www.gstatic.com/covid-trends/images/NC60/_m_01hd58.svg"/><img alt="Gráfico de tendências de 60 dias" aria-label="Gráfico de tendências de 60 dias" class="dt3Iuf krHqHb nBjBX" loading="lazy" src="//www.gstatic.com/covid-trends/images/NC60/_m_01hd58_dark.svg"/></td><td class="l3HOY">145.099</td><td class="l3HOY">178.178</td></tr>,
 <tr class="sgXwHf wdLSAe YvL7re" data-id="/m/01gh6z" jsaction="click:KoQL8" jslog="110764; track:click"><th class="l3HOY" role="rowheader" scope="row"><div class="TWa0lb"><div class="ggJ3df" jsaction="JIbuQc:ROTNpb" jslog="113725; track:click"><button aria-label="Liberada" class="VfPpkd-Bz112c-LgbsSe yHy1rc eT1oJ mN1ivc Vs1w5b" data-disable-idom="true" data-n-mid="/m/01gh6z" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" jscontroller="soHxf"><div class="VfPpkd-Bz112c-Jh9lGc" jsname="s3Eaab"></div><div class="VfPpkd-Bz112c-J1Ukfc-LhBDec"></div><span aria-hidden="true" class="VfPpkd-kBDsod gsIK3e"><svg class="Xa3RBb NMm5M" focusable="false" height="16" viewbox="0 0 24 24" width="16"><path d="M0 0h24v24H0z" fill="none" stroke="#000" stroke-opacity=".008" stroke-width="0"></path><path d="M17 4v7l2 3v2h-6v5l-1 1-1-1v-5H5v-2l2-3V4c0-1.1.9-2 2-2h6c1.11 0 2 .89 2 2zM9 4v7.75L7.5 14h9L15 11.75V4H9z"></path></svg></span></button></div><div class="pcAJd">Minas Gerais</div></div></th><td class="l3HOY">4.122.029</td><td class="l3HOY">2.666</td><td class="l3HOY"><img alt="Gráfico de tendências de 60 dias" aria-label="Gráfico de tendências de 60 dias" class="dt3Iuf zC7z7b nBjBX" loading="lazy" src="//www.gstatic.com/covid-trends/images/NC60/_m_01gh6z.svg"/><img alt="Gráfico de tendências de 60 dias" aria-label="Gráfico de tendências de 60 dias" class="dt3Iuf krHqHb nBjBX" loading="lazy" src="//www.gstatic.com/covid-trends/images/NC60/_m_01gh6z_dark.svg"/></td><td class="l3HOY">197.518</td><td class="l3HOY">64.799</td></tr>]

> Nesse passo estarei separando os dados e criando a tabela (DataFrame)

In [4]:
new_data = []
for d in dados:
    data = []
    td = []
    data.append(d.find('div', {'class': 'pcAJd'}).get_text())
    td = d.findAll('td', {'class': 'l3HOY'})
    data.append(td[0].get_text())
    data.append(td[1].get_text())
    data.append(td[3].get_text())
    data.append(td[4].get_text())
    new_data.append(data)
new_data[:5]

[['São Paulo', '6.389.460', '12.450', '145.099', '178.178'],
 ['Minas Gerais', '4.122.029', '2.666', '197.518', '64.799'],
 ['Rio Grande do Sul', '2.940.791', '4.019', '260.558', '41.716'],
 ['Paraná', '2.903.031', '2.090', '261.966', '45.919'],
 ['Rio de Janeiro', '2.719.059', '359', '165.180', '76.636']]

> Criando o Data Frame

In [5]:
df = pd.DataFrame(new_data, columns=['local', 'total_casos', 'novos_por_dia', 'a_cada_milhao', 'total_mortes' ])
df

                  local total_casos novos_por_dia a_cada_milhao total_mortes
0             São Paulo   6.389.460        12.450       145.099      178.178
1          Minas Gerais   4.122.029         2.666       197.518       64.799
2     Rio Grande do Sul   2.940.791         4.019       260.558       41.716
3                Paraná   2.903.031         2.090       261.966       45.919
4        Rio de Janeiro   2.719.059           359       165.180       76.636
5        Santa Catarina   1.971.482         1.726       275.163       22.615
6                 Goiás   1.862.817         3.890       285.567       27.885
7                 Bahia   1.783.192         1.240       117.881       31.349
8                 Ceará   1.446.481           586       163.577       28.091
9        Espírito Santo   1.317.879           550       339.218       15.001
10           Pernambuco   1.138.859         2.403       122.752       22.620
11     Distrito Federal     893.250           297  Não há dados       11.838
12          Mato Grosso     872.602           809       270.628       15.067
13                 Pará     864.379           595       107.058       18.996
14              Paraíba     703.683           274       178.424       10.540
15             Amazonas     625.260            58       161.410       14.421
16   Mato Grosso do Sul     601.158             0       229.480       10.969
17  Rio Grande do Norte     584.163           104       171.384        8.700
18             Maranhão     491.004           224        71.670       11.043
19             Rondônia     478.445           374       273.627        7.418
20                Piauí     418.951             0       131.139        8.052
21            Tocantins     363.257             0       242.676        4.220
22              Sergipe     359.383            47       161.915        6.497
23              Alagoas     336.780            79       101.387        7.230
24                Amapá     183.666            97       244.562        2.167
25              Roraima     181.684            33       365.608        2.180
26                 Acre     160.106            37       202.640        2.041

> Percebe-se que na coluna 'a_cada_milhao' existem dados escritos e não numéricos. Tratando e substituindo por '0'

In [6]:
df['a_cada_milhao'] = df['a_cada_milhao'].str.replace('Não há dados', '0')
df

                  local total_casos novos_por_dia a_cada_milhao total_mortes
0             São Paulo   6.389.460        12.450       145.099      178.178
1          Minas Gerais   4.122.029         2.666       197.518       64.799
2     Rio Grande do Sul   2.940.791         4.019       260.558       41.716
3                Paraná   2.903.031         2.090       261.966       45.919
4        Rio de Janeiro   2.719.059           359       165.180       76.636
5        Santa Catarina   1.971.482         1.726       275.163       22.615
6                 Goiás   1.862.817         3.890       285.567       27.885
7                 Bahia   1.783.192         1.240       117.881       31.349
8                 Ceará   1.446.481           586       163.577       28.091
9        Espírito Santo   1.317.879           550       339.218       15.001
10           Pernambuco   1.138.859         2.403       122.752       22.620
11     Distrito Federal     893.250           297             0       11.838
12          Mato Grosso     872.602           809       270.628       15.067
13                 Pará     864.379           595       107.058       18.996
14              Paraíba     703.683           274       178.424       10.540
15             Amazonas     625.260            58       161.410       14.421
16   Mato Grosso do Sul     601.158             0       229.480       10.969
17  Rio Grande do Norte     584.163           104       171.384        8.700
18             Maranhão     491.004           224        71.670       11.043
19             Rondônia     478.445           374       273.627        7.418
20                Piauí     418.951             0       131.139        8.052
21            Tocantins     363.257             0       242.676        4.220
22              Sergipe     359.383            47       161.915        6.497
23              Alagoas     336.780            79       101.387        7.230
24                Amapá     183.666            97       244.562        2.167
25              Roraima     181.684            33       365.608        2.180
26                 Acre     160.106            37       202.640        2.041

Na coluna novos por dia não há informações relevantes, estarei eliminando esta coluna

In [7]:
df = df.drop(columns=['novos_por_dia'])
df

                  local total_casos a_cada_milhao total_mortes
0             São Paulo   6.389.460       145.099      178.178
1          Minas Gerais   4.122.029       197.518       64.799
2     Rio Grande do Sul   2.940.791       260.558       41.716
3                Paraná   2.903.031       261.966       45.919
4        Rio de Janeiro   2.719.059       165.180       76.636
5        Santa Catarina   1.971.482       275.163       22.615
6                 Goiás   1.862.817       285.567       27.885
7                 Bahia   1.783.192       117.881       31.349
8                 Ceará   1.446.481       163.577       28.091
9        Espírito Santo   1.317.879       339.218       15.001
10           Pernambuco   1.138.859       122.752       22.620
11     Distrito Federal     893.250             0       11.838
12          Mato Grosso     872.602       270.628       15.067
13                 Pará     864.379       107.058       18.996
14              Paraíba     703.683       178.424       10.540
15             Amazonas     625.260       161.410       14.421
16   Mato Grosso do Sul     601.158       229.480       10.969
17  Rio Grande do Norte     584.163       171.384        8.700
18             Maranhão     491.004        71.670       11.043
19             Rondônia     478.445       273.627        7.418
20                Piauí     418.951       131.139        8.052
21            Tocantins     363.257       242.676        4.220
22              Sergipe     359.383       161.915        6.497
23              Alagoas     336.780       101.387        7.230
24                Amapá     183.666       244.562        2.167
25              Roraima     181.684       365.608        2.180
26                 Acre     160.106       202.640        2.041

In [8]:
df.dtypes

local            object
total_casos      object
a_cada_milhao    object
total_mortes     object
dtype: object

> Presiso converter os dados numéricos para int64 e para não haver erros se faz necessário eliminar os caracteres '.'

In [9]:
df['total_casos'] = df['total_casos'].str.replace('.', '')
df['a_cada_milhao'] = df['a_cada_milhao'].str.replace('.', '')
df['total_mortes'] = df['total_mortes'].str.replace('.', '')

/tmp/ipykernel_33211/2116360140.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['total_casos'] = df['total_casos'].str.replace('.', '')
/tmp/ipykernel_33211/2116360140.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['a_cada_milhao'] = df['a_cada_milhao'].str.replace('.', '')
/tmp/ipykernel_33211/2116360140.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['total_mortes'] = df['total_mortes'].str.replace('.', '')

> Caracteres '.' eliminados

In [10]:
df

                  local total_casos a_cada_milhao total_mortes
0             São Paulo     6389460        145099       178178
1          Minas Gerais     4122029        197518        64799
2     Rio Grande do Sul     2940791        260558        41716
3                Paraná     2903031        261966        45919
4        Rio de Janeiro     2719059        165180        76636
5        Santa Catarina     1971482        275163        22615
6                 Goiás     1862817        285567        27885
7                 Bahia     1783192        117881        31349
8                 Ceará     1446481        163577        28091
9        Espírito Santo     1317879        339218        15001
10           Pernambuco     1138859        122752        22620
11     Distrito Federal      893250             0        11838
12          Mato Grosso      872602        270628        15067
13                 Pará      864379        107058        18996
14              Paraíba      703683        178424        10540
15             Amazonas      625260        161410        14421
16   Mato Grosso do Sul      601158        229480        10969
17  Rio Grande do Norte      584163        171384         8700
18             Maranhão      491004         71670        11043
19             Rondônia      478445        273627         7418
20                Piauí      418951        131139         8052
21            Tocantins      363257        242676         4220
22              Sergipe      359383        161915         6497
23              Alagoas      336780        101387         7230
24                Amapá      183666        244562         2167
25              Roraima      181684        365608         2180
26                 Acre      160106        202640         2041

Convertendo os dados para 'int64'

In [11]:
df['total_casos'] = df['total_casos'].astype('int64')
df['a_cada_milhao'] = df['a_cada_milhao'].astype('int64')
df['total_mortes'] = df['total_mortes'].astype('int64')
df.dtypes

local            object
total_casos       int64
a_cada_milhao     int64
total_mortes      int64
dtype: object

> Limpeza e preparação do DataFrame finalizadas salvando em formato csv

In [12]:
df.to_csv('csv/casosXmortes-covid.csv')

In [13]:
df

                  local  total_casos  a_cada_milhao  total_mortes
0             São Paulo      6389460         145099        178178
1          Minas Gerais      4122029         197518         64799
2     Rio Grande do Sul      2940791         260558         41716
3                Paraná      2903031         261966         45919
4        Rio de Janeiro      2719059         165180         76636
5        Santa Catarina      1971482         275163         22615
6                 Goiás      1862817         285567         27885
7                 Bahia      1783192         117881         31349
8                 Ceará      1446481         163577         28091
9        Espírito Santo      1317879         339218         15001
10           Pernambuco      1138859         122752         22620
11     Distrito Federal       893250              0         11838
12          Mato Grosso       872602         270628         15067
13                 Pará       864379         107058         18996
14              Paraíba       703683         178424         10540
15             Amazonas       625260         161410         14421
16   Mato Grosso do Sul       601158         229480         10969
17  Rio Grande do Norte       584163         171384          8700
18             Maranhão       491004          71670         11043
19             Rondônia       478445         273627          7418
20                Piauí       418951         131139          8052
21            Tocantins       363257         242676          4220
22              Sergipe       359383         161915          6497
23              Alagoas       336780         101387          7230
24                Amapá       183666         244562          2167
25              Roraima       181684         365608          2180
26                 Acre       160106         202640          2041