# Projeto Covid - Situação Brasil
## Por: Michel Souza Santana
> Data: 20/01/2023

> O propósito final desse projeto é fazer uma comparação entre casos confirmados e mortes registradas para avaliar a letalidade desta doênça.
> Após alcanças o resultado com os estados com maior número de caso e mortes (letalidade), o próximo passo será analisar o índice de vacinação alcançada por estado e em seguida determinar se as vacinas de fato auxiliaram no tratamento ou não. (Projeto P03-covid_vacinas.ipynb)

### Análise dos dados
* Letalidade
* Taxa de mortalidade

> Importação das bibliotecas a serem utilizadas no projeto

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [89]:
df = pd.read_csv('csv/casosXmortes-covid.csv')
df.drop(columns=['Unnamed: 0'])
df_populacao = pd.read_csv('csv/populacao.csv')

> Verificando Quntidade de colunas e linhas

In [90]:
df.shape

(27, 5)

> Verificando os tipos de dados existentes na tabela

In [91]:
df.dtypes

Unnamed: 0        int64
local            object
total_casos       int64
a_cada_milhao     int64
total_mortes      int64
dtype: object

> Calculando a Letalidade da Doença por região

* A letalidade mede a severidade de uma doença e é definida como a proporção de mortes dentre aqueles doentes por uma causa específica em um certo período de tempo.

In [92]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

                  local  total_casos  a_cada_milhao  total_mortes
0             São Paulo      6389460         145099        178178
1          Minas Gerais      4122029         197518         64799
2     Rio Grande do Sul      2940791         260558         41716
3                Paraná      2903031         261966         45919
4        Rio de Janeiro      2719059         165180         76636
5        Santa Catarina      1971482         275163         22615
6                 Goiás      1862817         285567         27885
7                 Bahia      1783192         117881         31349
8                 Ceará      1446481         163577         28091
9        Espírito Santo      1317879         339218         15001
10           Pernambuco      1138859         122752         22620
11     Distrito Federal       893250              0         11838
12          Mato Grosso       872602         270628         15067
13                 Pará       864379         107058         18996
14              Paraíba       703683         178424         10540
15             Amazonas       625260         161410         14421
16   Mato Grosso do Sul       601158         229480         10969
17  Rio Grande do Norte       584163         171384          8700
18             Maranhão       491004          71670         11043
19             Rondônia       478445         273627          7418
20                Piauí       418951         131139          8052
21            Tocantins       363257         242676          4220
22              Sergipe       359383         161915          6497
23              Alagoas       336780         101387          7230
24                Amapá       183666         244562          2167
25              Roraima       181684         365608          2180
26                 Acre       160106         202640          2041

In [93]:
df.shape

(27, 4)

In [94]:
df = df.sort_values(by=['local'])
df = df.reset_index()
df.drop(columns=['index'], inplace=True)
df

                  local  total_casos  a_cada_milhao  total_mortes
0                  Acre       160106         202640          2041
1               Alagoas       336780         101387          7230
2                 Amapá       183666         244562          2167
3              Amazonas       625260         161410         14421
4                 Bahia      1783192         117881         31349
5                 Ceará      1446481         163577         28091
6      Distrito Federal       893250              0         11838
7        Espírito Santo      1317879         339218         15001
8                 Goiás      1862817         285567         27885
9              Maranhão       491004          71670         11043
10          Mato Grosso       872602         270628         15067
11   Mato Grosso do Sul       601158         229480         10969
12         Minas Gerais      4122029         197518         64799
13               Paraná      2903031         261966         45919
14              Paraíba       703683         178424         10540
15                 Pará       864379         107058         18996
16           Pernambuco      1138859         122752         22620
17                Piauí       418951         131139          8052
18  Rio Grande do Norte       584163         171384          8700
19    Rio Grande do Sul      2940791         260558         41716
20       Rio de Janeiro      2719059         165180         76636
21             Rondônia       478445         273627          7418
22              Roraima       181684         365608          2180
23       Santa Catarina      1971482         275163         22615
24              Sergipe       359383         161915          6497
25            São Paulo      6389460         145099        178178
26            Tocantins       363257         242676          4220

In [95]:
df = df.join(df_populacao)
df.drop(columns=['Unnamed: 0', 'estado'], inplace=True)

In [96]:
df

                  local  total_casos  a_cada_milhao  total_mortes  populacao
0                  Acre       160106         202640          2041     776463
1               Alagoas       336780         101387          7230    3300938
2                 Amapá       183666         244562          2167     734995
3              Amazonas       625260         161410         14421    3807923
4                 Bahia      1783192         117881         31349   15044127
5                 Ceará      1446481         163577         28091    8778575
6      Distrito Federal       893250              0         11838    2789761
7        Espírito Santo      1317879         339218         15001    3839363
8                 Goiás      1862817         285567         27885    6434052
9              Maranhão       491004          71670         11043    6794298
10          Mato Grosso       872602         270628         15067    3182114
11   Mato Grosso do Sul       601158         229480         10969    2587267
12         Minas Gerais      4122029         197518         64799   20593366
13               Paraná      2903031         261966         45919   10997462
14              Paraíba       703683         178424         10540    3914418
15                 Pará       864379         107058         18996    7969655
16           Pernambuco      1138859         122752         22620    9208551
17                Piauí       418951         131139          8052    3184165
18  Rio Grande do Norte       584163         171384          8700    3373960
19    Rio Grande do Sul      2940791         260558         41716   11164050
20       Rio de Janeiro      2719059         165180         76636   16369178
21             Rondônia       478445         273627          7418    1728214
22              Roraima       181684         365608          2180     488072
23       Santa Catarina      1971482         275163         22615    6634250
24              Sergipe       359383         161915          6497    2195662
25            São Paulo      6389460         145099        178178   43663672
26            Tocantins       363257         242676          4220    1478163

In [97]:
df['letalidade %'] = df['total_mortes'] / df['total_casos'] * 100
df

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %
0,Acre,160106,202640,2041,776463,1.274780
1,Alagoas,336780,101387,7230,3300938,2.146802
2,Amapá,183666,244562,2167,734995,1.179859
3,Amazonas,625260,161410,14421,3807923,2.306401
4,Bahia,1783192,117881,31349,15044127,1.758027
5,Ceará,1446481,163577,28091,8778575,1.942023
6,Distrito Federal,893250,0,11838,2789761,1.325273
7,Espírito Santo,1317879,339218,15001,3839363,1.138268
8,Goiás,1862817,285567,27885,6434052,1.496926
9,Maranhão,491004,71670,11043,6794298,2.249065
10,Mato Grosso,872602,270628,15067,3182114,1.726675
11,Mato Grosso do Sul,601158,229480,10969,2587267,1.824645
12,Minas Gerais,4122029,197518,64799,20593366,1.572017
13,Paraná,2903031,261966,45919,10997462,1.581761
14,Paraíba,703683,178424,10540,3914418,1.497834
15,Pará,864379,107058,18996,7969655,2.197647
16,Pernambuco,1138859,122752,22620,9208551,1.986198
17,Piauí,418951,131139,8052,3184165,1.921943
18,Rio Grande do Norte,584163,171384,8700,3373960,1.489310
19,Rio Grande do Sul,2940791,260558,41716,11164050,1.418530
20,Rio de Janeiro,2719059,165180,76636,16369178,2.818475
21,Rondônia,478445,273627,7418,1728214,1.550439
22,Roraima,181684,365608,2180,488072,1.199886
23,Santa Catarina,1971482,275163,22615,6634250,1.147107
24,Sergipe,359383,161915,6497,2195662,1.807821
25,São Paulo,6389460,145099,178178,43663672,2.788624
26,Tocantins,363257,242676,4220,1478163,1.161712

In [98]:
df['mortalidade %'] = (df['total_mortes']/df['populacao']) * 100
df

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
0,Acre,160106,202640,2041,776463,1.274780,0.262859
1,Alagoas,336780,101387,7230,3300938,2.146802,0.219029
2,Amapá,183666,244562,2167,734995,1.179859,0.294832
3,Amazonas,625260,161410,14421,3807923,2.306401,0.378710
4,Bahia,1783192,117881,31349,15044127,1.758027,0.208380
5,Ceará,1446481,163577,28091,8778575,1.942023,0.319995
6,Distrito Federal,893250,0,11838,2789761,1.325273,0.424337
7,Espírito Santo,1317879,339218,15001,3839363,1.138268,0.390716
8,Goiás,1862817,285567,27885,6434052,1.496926,0.433397
9,Maranhão,491004,71670,11043,6794298,2.249065,0.162533
10,Mato Grosso,872602,270628,15067,3182114,1.726675,0.473490
11,Mato Grosso do Sul,601158,229480,10969,2587267,1.824645,0.423961
12,Minas Gerais,4122029,197518,64799,20593366,1.572017,0.314660
13,Paraná,2903031,261966,45919,10997462,1.581761,0.417542
14,Paraíba,703683,178424,10540,3914418,1.497834,0.269261
15,Pará,864379,107058,18996,7969655,2.197647,0.238354
16,Pernambuco,1138859,122752,22620,9208551,1.986198,0.245641
17,Piauí,418951,131139,8052,3184165,1.921943,0.252876
18,Rio Grande do Norte,584163,171384,8700,3373960,1.489310,0.257857
19,Rio Grande do Sul,2940791,260558,41716,11164050,1.418530,0.373664
20,Rio de Janeiro,2719059,165180,76636,16369178,2.818475,0.468173
21,Rondônia,478445,273627,7418,1728214,1.550439,0.429229
22,Roraima,181684,365608,2180,488072,1.199886,0.446655
23,Santa Catarina,1971482,275163,22615,6634250,1.147107,0.340883
24,Sergipe,359383,161915,6497,2195662,1.807821,0.295902
25,São Paulo,6389460,145099,178178,43663672,2.788624,0.408069
26,Tocantins,363257,242676,4220,1478163,1.161712,0.285489

In [99]:
for i in range(len(df['a_cada_milhao'])):
    if df['a_cada_milhao'][i] == 0:
        df['a_cada_milhao'][i] = df['a_cada_milhao'].mean()

/tmp/ipykernel_2713/1768964405.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['a_cada_milhao'][i] = df['a_cada_milhao'].mean()

In [100]:
df

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
0,Acre,160106,202640,2041,776463,1.274780,0.262859
1,Alagoas,336780,101387,7230,3300938,2.146802,0.219029
2,Amapá,183666,244562,2167,734995,1.179859,0.294832
3,Amazonas,625260,161410,14421,3807923,2.306401,0.378710
4,Bahia,1783192,117881,31349,15044127,1.758027,0.208380
5,Ceará,1446481,163577,28091,8778575,1.942023,0.319995
6,Distrito Federal,893250,194373,11838,2789761,1.325273,0.424337
7,Espírito Santo,1317879,339218,15001,3839363,1.138268,0.390716
8,Goiás,1862817,285567,27885,6434052,1.496926,0.433397
9,Maranhão,491004,71670,11043,6794298,2.249065,0.162533
10,Mato Grosso,872602,270628,15067,3182114,1.726675,0.473490
11,Mato Grosso do Sul,601158,229480,10969,2587267,1.824645,0.423961
12,Minas Gerais,4122029,197518,64799,20593366,1.572017,0.314660
13,Paraná,2903031,261966,45919,10997462,1.581761,0.417542
14,Paraíba,703683,178424,10540,3914418,1.497834,0.269261
15,Pará,864379,107058,18996,7969655,2.197647,0.238354
16,Pernambuco,1138859,122752,22620,9208551,1.986198,0.245641
17,Piauí,418951,131139,8052,3184165,1.921943,0.252876
18,Rio Grande do Norte,584163,171384,8700,3373960,1.489310,0.257857
19,Rio Grande do Sul,2940791,260558,41716,11164050,1.418530,0.373664
20,Rio de Janeiro,2719059,165180,76636,16369178,2.818475,0.468173
21,Rondônia,478445,273627,7418,1728214,1.550439,0.429229
22,Roraima,181684,365608,2180,488072,1.199886,0.446655
23,Santa Catarina,1971482,275163,22615,6634250,1.147107,0.340883
24,Sergipe,359383,161915,6497,2195662,1.807821,0.295902
25,São Paulo,6389460,145099,178178,43663672,2.788624,0.408069
26,Tocantins,363257,242676,4220,1478163,1.161712,0.285489

In [101]:
df['letalidade %'] = df['letalidade %'].round(2)
df['mortalidade %'] = df['mortalidade %'].round(2)

> Salvando uma cópia da tabela comtodos os dados para uso futuro

In [102]:
df.to_csv('csv/estados.csv')

In [103]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

/tmp/ipykernel_2713/2001914525.py:2: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [104]:
df = df.sort_values(by=['letalidade %'], ascending=False)
letalidade = df.head(10)
letalidade

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
20,Rio de Janeiro,2719059,165180,76636,16369178,2.82,0.47
25,São Paulo,6389460,145099,178178,43663672,2.79,0.41
3,Amazonas,625260,161410,14421,3807923,2.31,0.38
9,Maranhão,491004,71670,11043,6794298,2.25,0.16
15,Pará,864379,107058,18996,7969655,2.20,0.24
1,Alagoas,336780,101387,7230,3300938,2.15,0.22
16,Pernambuco,1138859,122752,22620,9208551,1.99,0.25
5,Ceará,1446481,163577,28091,8778575,1.94,0.32
17,Piauí,418951,131139,8052,3184165,1.92,0.25
11,Mato Grosso do Sul,601158,229480,10969,2587267,1.82,0.42

In [105]:
df = df.sort_values(by=['mortalidade %'], ascending=False)
mortalidade = df.head(10)
mortalidade

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
20,Rio de Janeiro,2719059,165180,76636,16369178,2.82,0.47
10,Mato Grosso,872602,270628,15067,3182114,1.73,0.47
22,Roraima,181684,365608,2180,488072,1.20,0.45
8,Goiás,1862817,285567,27885,6434052,1.50,0.43
21,Rondônia,478445,273627,7418,1728214,1.55,0.43
11,Mato Grosso do Sul,601158,229480,10969,2587267,1.82,0.42
6,Distrito Federal,893250,194373,11838,2789761,1.33,0.42
13,Paraná,2903031,261966,45919,10997462,1.58,0.42
25,São Paulo,6389460,145099,178178,43663672,2.79,0.41
7,Espírito Santo,1317879,339218,15001,3839363,1.14,0.39

In [106]:
df = df.sort_values(by=['total_casos'], ascending=False)
casos = df.head(10)
casos = casos.reset_index()
casos.drop(columns=['index'], inplace=True)
casos

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
0,São Paulo,6389460,145099,178178,43663672,2.79,0.41
1,Minas Gerais,4122029,197518,64799,20593366,1.57,0.31
2,Rio Grande do Sul,2940791,260558,41716,11164050,1.42,0.37
3,Paraná,2903031,261966,45919,10997462,1.58,0.42
4,Rio de Janeiro,2719059,165180,76636,16369178,2.82,0.47
5,Santa Catarina,1971482,275163,22615,6634250,1.15,0.34
6,Goiás,1862817,285567,27885,6434052,1.50,0.43
7,Bahia,1783192,117881,31349,15044127,1.76,0.21
8,Ceará,1446481,163577,28091,8778575,1.94,0.32
9,Espírito Santo,1317879,339218,15001,3839363,1.14,0.39

In [107]:
df = df.sort_values(by=['total_mortes'], ascending=False)
mortes = df.head(10)
mortes = mortes.reset_index()
mortes.drop(columns=['index'], inplace=True)
mortes

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
0,São Paulo,6389460,145099,178178,43663672,2.79,0.41
1,Rio de Janeiro,2719059,165180,76636,16369178,2.82,0.47
2,Minas Gerais,4122029,197518,64799,20593366,1.57,0.31
3,Paraná,2903031,261966,45919,10997462,1.58,0.42
4,Rio Grande do Sul,2940791,260558,41716,11164050,1.42,0.37
5,Bahia,1783192,117881,31349,15044127,1.76,0.21
6,Ceará,1446481,163577,28091,8778575,1.94,0.32
7,Goiás,1862817,285567,27885,6434052,1.50,0.43
8,Pernambuco,1138859,122752,22620,9208551,1.99,0.25
9,Santa Catarina,1971482,275163,22615,6634250,1.15,0.34

In [108]:
df = casos.merge(mortes, left_on='local', right_on='local', suffixes=('', '_'))
df

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %,total_casos_,a_cada_milhao_,total_mortes_,populacao_,letalidade %_,mortalidade %_
0,São Paulo,6389460,145099,178178,43663672,2.79,0.41,6389460,145099,178178,43663672,2.79,0.41
1,Minas Gerais,4122029,197518,64799,20593366,1.57,0.31,4122029,197518,64799,20593366,1.57,0.31
2,Rio Grande do Sul,2940791,260558,41716,11164050,1.42,0.37,2940791,260558,41716,11164050,1.42,0.37
3,Paraná,2903031,261966,45919,10997462,1.58,0.42,2903031,261966,45919,10997462,1.58,0.42
4,Rio de Janeiro,2719059,165180,76636,16369178,2.82,0.47,2719059,165180,76636,16369178,2.82,0.47
5,Santa Catarina,1971482,275163,22615,6634250,1.15,0.34,1971482,275163,22615,6634250,1.15,0.34
6,Goiás,1862817,285567,27885,6434052,1.50,0.43,1862817,285567,27885,6434052,1.50,0.43
7,Bahia,1783192,117881,31349,15044127,1.76,0.21,1783192,117881,31349,15044127,1.76,0.21
8,Ceará,1446481,163577,28091,8778575,1.94,0.32,1446481,163577,28091,8778575,1.94,0.32

In [109]:
df = df.drop(columns=['total_casos_', 'a_cada_milhao_', 'total_mortes_', 'populacao_', 'letalidade %_', 'mortalidade %_'])
df

,local,total_casos,a_cada_milhao,total_mortes,populacao,letalidade %,mortalidade %
0,São Paulo,6389460,145099,178178,43663672,2.79,0.41
1,Minas Gerais,4122029,197518,64799,20593366,1.57,0.31
2,Rio Grande do Sul,2940791,260558,41716,11164050,1.42,0.37
3,Paraná,2903031,261966,45919,10997462,1.58,0.42
4,Rio de Janeiro,2719059,165180,76636,16369178,2.82,0.47
5,Santa Catarina,1971482,275163,22615,6634250,1.15,0.34
6,Goiás,1862817,285567,27885,6434052,1.50,0.43
7,Bahia,1783192,117881,31349,15044127,1.76,0.21
8,Ceará,1446481,163577,28091,8778575,1.94,0.32

Informações do resultado validadas no site: https://www.cnnbrasil.com.br/nacional/18-estados-brasileiros-registram-mais-mortes-por-covid-19-em-2021-do-que-em-2020/

In [110]:
df.to_csv('csv/estados_mais_afetados.csv')