# Consumo Mundial de Alcool
## Por: Michel Souza Santana
> Data: 21/01/2023

> Atualizado: 23/01/2023

* Fonte: https://dadosabertos.bcb.gov.br/dataset/informacoes-do-mercado-imobiliario/resource/b1edf8e5-de6d-4b57-a8a1-1c56af75cbce
* Link do Download: https://olinda.bcb.gov.br/olinda/servico/MercadoImobiliario/versao/v1/odata/mercadoimobiliario?$format=text/csv&$select=Data,Info,Valor

## Questão de Negócio
> Identificar o problema de negócio a ser resolvido

## Entendimento do Negócio
> ...

## Importação das bibliotecas

> ...

In [543]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup

## Coleta de Dados
> ...

In [544]:
html = urlopen('https://github.com/fivethirtyeight/data/blob/master/alcohol-consumption/drinks.csv')
bs = BeautifulSoup(html.read(), 'html.parser')

In [545]:
dados = bs.findAll('tr', {'class': 'js-file-line'})
lista = []
n = 1
for i in dados:
    L = str('L' + str(n))
    new_dados = []
    new_dados.append(i.findAll('td'))
    lista.append(new_dados)
    n = n + 1
lista

[[[<td class="blob-num js-line-number" data-line-number="1" id="L1"></td>]],
 [[<td class="blob-num js-line-number" data-line-number="2" id="L2"></td>,
   <td>Afghanistan</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="3" id="L3"></td>,
   <td>Albania</td>,
   <td>89</td>,
   <td>132</td>,
   <td>54</td>,
   <td>4.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="4" id="L4"></td>,
   <td>Algeria</td>,
   <td>25</td>,
   <td>0</td>,
   <td>14</td>,
   <td>0.7</td>]],
 [[<td class="blob-num js-line-number" data-line-number="5" id="L5"></td>,
   <td>Andorra</td>,
   <td>245</td>,
   <td>138</td>,
   <td>312</td>,
   <td>12.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="6" id="L6"></td>,
   <td>Angola</td>,
   <td>217</td>,
   <td>57</td>,
   <td>45</td>,
   <td>5.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="7" id="L7"></td>,
   <td>Antigua &amp; Barbuda</td>,
   <td>102</td>,
   <td>128</td>,
   <td>45</td>,
   <td>4.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="8" id="L8"></td>,
   <td>Argentina</td>,
   <td>193</td>,
   <td>25</td>,
   <td>221</td>,
   <td>8.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="9" id="L9"></td>,
   <td>Armenia</td>,
   <td>21</td>,
   <td>179</td>,
   <td>11</td>,
   <td>3.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="10" id="L10"></td>,
   <td>Australia</td>,
   <td>261</td>,
   <td>72</td>,
   <td>212</td>,
   <td>10.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="11" id="L11"></td>,
   <td>Austria</td>,
   <td>279</td>,
   <td>75</td>,
   <td>191</td>,
   <td>9.7</td>]],
 [[<td class="blob-num js-line-number" data-line-number="12" id="L12"></td>,
   <td>Azerbaijan</td>,
   <td>21</td>,
   <td>46</td>,
   <td>5</td>,
   <td>1.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="13" id="L13"></td>,
   <td>Bahamas</td>,
   <td>122</td>,
   <td>176</td>,
   <td>51</td>,
   <td>6.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="14" id="L14"></td>,
   <td>Bahrain</td>,
   <td>42</td>,
   <td>63</td>,
   <td>7</td>,
   <td>2.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="15" id="L15"></td>,
   <td>Bangladesh</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="16" id="L16"></td>,
   <td>Barbados</td>,
   <td>143</td>,
   <td>173</td>,
   <td>36</td>,
   <td>6.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="17" id="L17"></td>,
   <td>Belarus</td>,
   <td>142</td>,
   <td>373</td>,
   <td>42</td>,
   <td>14.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="18" id="L18"></td>,
   <td>Belgium</td>,
   <td>295</td>,
   <td>84</td>,
   <td>212</td>,
   <td>10.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="19" id="L19"></td>,
   <td>Belize</td>,
   <td>263</td>,
   <td>114</td>,
   <td>8</td>,
   <td>6.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="20" id="L20"></td>,
   <td>Benin</td>,
   <td>34</td>,
   <td>4</td>,
   <td>13</td>,
   <td>1.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="21" id="L21"></td>,
   <td>Bhutan</td>,
   <td>23</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="22" id="L22"></td>,
   <td>Bolivia</td>,
   <td>167</td>,
   <td>41</td>,
   <td>8</td>,
   <td>3.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="23" id="L23"></td>,
   <td>Bosnia-Herzegovina</td>,
   <td>76</td>,
   <td>173</td>,
   <td>8</td>,
   <td>4.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="24" id="L24"></td>,
   <td>Botswana</td>,
   <td>173</td>,
   <td>35</td>,
   <td>35</td>,
   <td>5.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="25" id="L25"></td>,
   <td>Brazil</td>,
   <td>245</td>,
   <td>145</td>,
   <td>16</td>,
   <td>7.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="26" id="L26"></td>,
   <td>Brunei</td>,
   <td>31</td>,
   <td>2</td>,
   <td>1</td>,
   <td>0.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="27" id="L27"></td>,
   <td>Bulgaria</td>,
   <td>231</td>,
   <td>252</td>,
   <td>94</td>,
   <td>10.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="28" id="L28"></td>,
   <td>Burkina Faso</td>,
   <td>25</td>,
   <td>7</td>,
   <td>7</td>,
   <td>4.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="29" id="L29"></td>,
   <td>Burundi</td>,
   <td>88</td>,
   <td>0</td>,
   <td>0</td>,
   <td>6.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="30" id="L30"></td>,
   <td>Cote d'Ivoire</td>,
   <td>37</td>,
   <td>1</td>,
   <td>7</td>,
   <td>4.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="31" id="L31"></td>,
   <td>Cabo Verde</td>,
   <td>144</td>,
   <td>56</td>,
   <td>16</td>,
   <td>4.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="32" id="L32"></td>,
   <td>Cambodia</td>,
   <td>57</td>,
   <td>65</td>,
   <td>1</td>,
   <td>2.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="33" id="L33"></td>,
   <td>Cameroon</td>,
   <td>147</td>,
   <td>1</td>,
   <td>4</td>,
   <td>5.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="34" id="L34"></td>,
   <td>Canada</td>,
   <td>240</td>,
   <td>122</td>,
   <td>100</td>,
   <td>8.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="35" id="L35"></td>,
   <td>Central African Republic</td>,
   <td>17</td>,
   <td>2</td>,
   <td>1</td>,
   <td>1.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="36" id="L36"></td>,
   <td>Chad</td>,
   <td>15</td>,
   <td>1</td>,
   <td>1</td>,
   <td>0.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="37" id="L37"></td>,
   <td>Chile</td>,
   <td>130</td>,
   <td>124</td>,
   <td>172</td>,
   <td>7.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="38" id="L38"></td>,
   <td>China</td>,
   <td>79</td>,
   <td>192</td>,
   <td>8</td>,
   <td>5.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="39" id="L39"></td>,
   <td>Colombia</td>,
   <td>159</td>,
   <td>76</td>,
   <td>3</td>,
   <td>4.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="40" id="L40"></td>,
   <td>Comoros</td>,
   <td>1</td>,
   <td>3</td>,
   <td>1</td>,
   <td>0.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="41" id="L41"></td>,
   <td>Congo</td>,
   <td>76</td>,
   <td>1</td>,
   <td>9</td>,
   <td>1.7</td>]],
 [[<td class="blob-num js-line-number" data-line-number="42" id="L42"></td>,
   <td>Cook Islands</td>,
   <td>0</td>,
   <td>254</td>,
   <td>74</td>,
   <td>5.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="43" id="L43"></td>,
   <td>Costa Rica</td>,
   <td>149</td>,
   <td>87</td>,
   <td>11</td>,
   <td>4.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="44" id="L44"></td>,
   <td>Croatia</td>,
   <td>230</td>,
   <td>87</td>,
   <td>254</td>,
   <td>10.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="45" id="L45"></td>,
   <td>Cuba</td>,
   <td>93</td>,
   <td>137</td>,
   <td>5</td>,
   <td>4.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="46" id="L46"></td>,
   <td>Cyprus</td>,
   <td>192</td>,
   <td>154</td>,
   <td>113</td>,
   <td>8.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="47" id="L47"></td>,
   <td>Czech Republic</td>,
   <td>361</td>,
   <td>170</td>,
   <td>134</td>,
   <td>11.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="48" id="L48"></td>,
   <td>North Korea</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="49" id="L49"></td>,
   <td>DR Congo</td>,
   <td>32</td>,
   <td>3</td>,
   <td>1</td>,
   <td>2.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="50" id="L50"></td>,
   <td>Denmark</td>,
   <td>224</td>,
   <td>81</td>,
   <td>278</td>,
   <td>10.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="51" id="L51"></td>,
   <td>Djibouti</td>,
   <td>15</td>,
   <td>44</td>,
   <td>3</td>,
   <td>1.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="52" id="L52"></td>,
   <td>Dominica</td>,
   <td>52</td>,
   <td>286</td>,
   <td>26</td>,
   <td>6.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="53" id="L53"></td>,
   <td>Dominican Republic</td>,
   <td>193</td>,
   <td>147</td>,
   <td>9</td>,
   <td>6.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="54" id="L54"></td>,
   <td>Ecuador</td>,
   <td>162</td>,
   <td>74</td>,
   <td>3</td>,
   <td>4.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="55" id="L55"></td>,
   <td>Egypt</td>,
   <td>6</td>,
   <td>4</td>,
   <td>1</td>,
   <td>0.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="56" id="L56"></td>,
   <td>El Salvador</td>,
   <td>52</td>,
   <td>69</td>,
   <td>2</td>,
   <td>2.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="57" id="L57"></td>,
   <td>Equatorial Guinea</td>,
   <td>92</td>,
   <td>0</td>,
   <td>233</td>,
   <td>5.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="58" id="L58"></td>,
   <td>Eritrea</td>,
   <td>18</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="59" id="L59"></td>,
   <td>Estonia</td>,
   <td>224</td>,
   <td>194</td>,
   <td>59</td>,
   <td>9.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="60" id="L60"></td>,
   <td>Ethiopia</td>,
   <td>20</td>,
   <td>3</td>,
   <td>0</td>,
   <td>0.7</td>]],
 [[<td class="blob-num js-line-number" data-line-number="61" id="L61"></td>,
   <td>Fiji</td>,
   <td>77</td>,
   <td>35</td>,
   <td>1</td>,
   <td>2.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="62" id="L62"></td>,
   <td>Finland</td>,
   <td>263</td>,
   <td>133</td>,
   <td>97</td>,
   <td>10.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="63" id="L63"></td>,
   <td>France</td>,
   <td>127</td>,
   <td>151</td>,
   <td>370</td>,
   <td>11.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="64" id="L64"></td>,
   <td>Gabon</td>,
   <td>347</td>,
   <td>98</td>,
   <td>59</td>,
   <td>8.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="65" id="L65"></td>,
   <td>Gambia</td>,
   <td>8</td>,
   <td>0</td>,
   <td>1</td>,
   <td>2.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="66" id="L66"></td>,
   <td>Georgia</td>,
   <td>52</td>,
   <td>100</td>,
   <td>149</td>,
   <td>5.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="67" id="L67"></td>,
   <td>Germany</td>,
   <td>346</td>,
   <td>117</td>,
   <td>175</td>,
   <td>11.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="68" id="L68"></td>,
   <td>Ghana</td>,
   <td>31</td>,
   <td>3</td>,
   <td>10</td>,
   <td>1.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="69" id="L69"></td>,
   <td>Greece</td>,
   <td>133</td>,
   <td>112</td>,
   <td>218</td>,
   <td>8.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="70" id="L70"></td>,
   <td>Grenada</td>,
   <td>199</td>,
   <td>438</td>,
   <td>28</td>,
   <td>11.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="71" id="L71"></td>,
   <td>Guatemala</td>,
   <td>53</td>,
   <td>69</td>,
   <td>2</td>,
   <td>2.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="72" id="L72"></td>,
   <td>Guinea</td>,
   <td>9</td>,
   <td>0</td>,
   <td>2</td>,
   <td>0.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="73" id="L73"></td>,
   <td>Guinea-Bissau</td>,
   <td>28</td>,
   <td>31</td>,
   <td>21</td>,
   <td>2.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="74" id="L74"></td>,
   <td>Guyana</td>,
   <td>93</td>,
   <td>302</td>,
   <td>1</td>,
   <td>7.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="75" id="L75"></td>,
   <td>Haiti</td>,
   <td>1</td>,
   <td>326</td>,
   <td>1</td>,
   <td>5.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="76" id="L76"></td>,
   <td>Honduras</td>,
   <td>69</td>,
   <td>98</td>,
   <td>2</td>,
   <td>3.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="77" id="L77"></td>,
   <td>Hungary</td>,
   <td>234</td>,
   <td>215</td>,
   <td>185</td>,
   <td>11.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="78" id="L78"></td>,
   <td>Iceland</td>,
   <td>233</td>,
   <td>61</td>,
   <td>78</td>,
   <td>6.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="79" id="L79"></td>,
   <td>India</td>,
   <td>9</td>,
   <td>114</td>,
   <td>0</td>,
   <td>2.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="80" id="L80"></td>,
   <td>Indonesia</td>,
   <td>5</td>,
   <td>1</td>,
   <td>0</td>,
   <td>0.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="81" id="L81"></td>,
   <td>Iran</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="82" id="L82"></td>,
   <td>Iraq</td>,
   <td>9</td>,
   <td>3</td>,
   <td>0</td>,
   <td>0.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="83" id="L83"></td>,
   <td>Ireland</td>,
   <td>313</td>,
   <td>118</td>,
   <td>165</td>,
   <td>11.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="84" id="L84"></td>,
   <td>Israel</td>,
   <td>63</td>,
   <td>69</td>,
   <td>9</td>,
   <td>2.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="85" id="L85"></td>,
   <td>Italy</td>,
   <td>85</td>,
   <td>42</td>,
   <td>237</td>,
   <td>6.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="86" id="L86"></td>,
   <td>Jamaica</td>,
   <td>82</td>,
   <td>97</td>,
   <td>9</td>,
   <td>3.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="87" id="L87"></td>,
   <td>Japan</td>,
   <td>77</td>,
   <td>202</td>,
   <td>16</td>,
   <td>7.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="88" id="L88"></td>,
   <td>Jordan</td>,
   <td>6</td>,
   <td>21</td>,
   <td>1</td>,
   <td>0.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="89" id="L89"></td>,
   <td>Kazakhstan</td>,
   <td>124</td>,
   <td>246</td>,
   <td>12</td>,
   <td>6.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="90" id="L90"></td>,
   <td>Kenya</td>,
   <td>58</td>,
   <td>22</td>,
   <td>2</td>,
   <td>1.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="91" id="L91"></td>,
   <td>Kiribati</td>,
   <td>21</td>,
   <td>34</td>,
   <td>1</td>,
   <td>1.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="92" id="L92"></td>,
   <td>Kuwait</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="93" id="L93"></td>,
   <td>Kyrgyzstan</td>,
   <td>31</td>,
   <td>97</td>,
   <td>6</td>,
   <td>2.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="94" id="L94"></td>,
   <td>Laos</td>,
   <td>62</td>,
   <td>0</td>,
   <td>123</td>,
   <td>6.2</td>]],
 [[<td class="blob-num js-line-number" data-line-number="95" id="L95"></td>,
   <td>Latvia</td>,
   <td>281</td>,
   <td>216</td>,
   <td>62</td>,
   <td>10.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="96" id="L96"></td>,
   <td>Lebanon</td>,
   <td>20</td>,
   <td>55</td>,
   <td>31</td>,
   <td>1.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="97" id="L97"></td>,
   <td>Lesotho</td>,
   <td>82</td>,
   <td>29</td>,
   <td>0</td>,
   <td>2.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="98" id="L98"></td>,
   <td>Liberia</td>,
   <td>19</td>,
   <td>152</td>,
   <td>2</td>,
   <td>3.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="99" id="L99"></td>,
   <td>Libya</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="100" id="L100"></td>,
   <td>Lithuania</td>,
   <td>343</td>,
   <td>244</td>,
   <td>56</td>,
   <td>12.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="101" id="L101"></td>,
   <td>Luxembourg</td>,
   <td>236</td>,
   <td>133</td>,
   <td>271</td>,
   <td>11.4</td>]],
 [[<td class="blob-num js-line-number" data-line-number="102" id="L102"></td>,
   <td>Madagascar</td>,
   <td>26</td>,
   <td>15</td>,
   <td>4</td>,
   <td>0.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="103" id="L103"></td>,
   <td>Malawi</td>,
   <td>8</td>,
   <td>11</td>,
   <td>1</td>,
   <td>1.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="104" id="L104"></td>,
   <td>Malaysia</td>,
   <td>13</td>,
   <td>4</td>,
   <td>0</td>,
   <td>0.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="105" id="L105"></td>,
   <td>Maldives</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="106" id="L106"></td>,
   <td>Mali</td>,
   <td>5</td>,
   <td>1</td>,
   <td>1</td>,
   <td>0.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="107" id="L107"></td>,
   <td>Malta</td>,
   <td>149</td>,
   <td>100</td>,
   <td>120</td>,
   <td>6.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="108" id="L108"></td>,
   <td>Marshall Islands</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="109" id="L109"></td>,
   <td>Mauritania</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="110" id="L110"></td>,
   <td>Mauritius</td>,
   <td>98</td>,
   <td>31</td>,
   <td>18</td>,
   <td>2.6</td>]],
 [[<td class="blob-num js-line-number" data-line-number="111" id="L111"></td>,
   <td>Mexico</td>,
   <td>238</td>,
   <td>68</td>,
   <td>5</td>,
   <td>5.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="112" id="L112"></td>,
   <td>Micronesia</td>,
   <td>62</td>,
   <td>50</td>,
   <td>18</td>,
   <td>2.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="113" id="L113"></td>,
   <td>Monaco</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0</td>,
   <td>0.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="114" id="L114"></td>,
   <td>Mongolia</td>,
   <td>77</td>,
   <td>189</td>,
   <td>8</td>,
   <td>4.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="115" id="L115"></td>,
   <td>Montenegro</td>,
   <td>31</td>,
   <td>114</td>,
   <td>128</td>,
   <td>4.9</td>]],
 [[<td class="blob-num js-line-number" data-line-number="116" id="L116"></td>,
   <td>Morocco</td>,
   <td>12</td>,
   <td>6</td>,
   <td>10</td>,
   <td>0.5</td>]],
 [[<td class="blob-num js-line-number" data-line-number="117" id="L117"></td>,
   <td>Mozambique</td>,
   <td>47</td>,
   <td>18</td>,
   <td>5</td>,
   <td>1.3</td>]],
 [[<td class="blob-num js-line-number" data-line-number="118" id="L118"></td>,
   <td>Myanmar</td>,
   <td>5</td>,
   <td>1</td>,
   <td>0</td>,
   <td>0.1</td>]],
 [[<td class="blob-num js-line-number" data-line-number="119" id="L119"></td>,
   <td>Namibia</td>,
   <td>376</td>,
   <td>3</td>,
   <td>1</td>,
   <td>6.8</td>]],
 [[<td class="blob-num js-line-number" data-line-number="120" id="L120"></td>,
   <td>Nauru</td>,
   <td>49</td>,
   <td>0</td>,
   <td>8</td>,
   <td>1.0</td>]],
 [[<td class="blob-num js-line-number" data-line-number="121" id="L121"></td>,
   <td>Nepal</td>,
   <td>5</td>,
   <td>6</td>,
   <td>0</td>,

In [546]:
new_list = []
for i in range(len(lista)):
    new_list.append(lista[i][0])
new_list

[[<td class="blob-num js-line-number" data-line-number="1" id="L1"></td>],
 [<td class="blob-num js-line-number" data-line-number="2" id="L2"></td>,
  <td>Afghanistan</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="3" id="L3"></td>,
  <td>Albania</td>,
  <td>89</td>,
  <td>132</td>,
  <td>54</td>,
  <td>4.9</td>],
 [<td class="blob-num js-line-number" data-line-number="4" id="L4"></td>,
  <td>Algeria</td>,
  <td>25</td>,
  <td>0</td>,
  <td>14</td>,
  <td>0.7</td>],
 [<td class="blob-num js-line-number" data-line-number="5" id="L5"></td>,
  <td>Andorra</td>,
  <td>245</td>,
  <td>138</td>,
  <td>312</td>,
  <td>12.4</td>],
 [<td class="blob-num js-line-number" data-line-number="6" id="L6"></td>,
  <td>Angola</td>,
  <td>217</td>,
  <td>57</td>,
  <td>45</td>,
  <td>5.9</td>],
 [<td class="blob-num js-line-number" data-line-number="7" id="L7"></td>,
  <td>Antigua &amp; Barbuda</td>,
  <td>102</td>,
  <td>128</td>,
  <td>45</td>,
  <td>4.9</td>],
 [<td class="blob-num js-line-number" data-line-number="8" id="L8"></td>,
  <td>Argentina</td>,
  <td>193</td>,
  <td>25</td>,
  <td>221</td>,
  <td>8.3</td>],
 [<td class="blob-num js-line-number" data-line-number="9" id="L9"></td>,
  <td>Armenia</td>,
  <td>21</td>,
  <td>179</td>,
  <td>11</td>,
  <td>3.8</td>],
 [<td class="blob-num js-line-number" data-line-number="10" id="L10"></td>,
  <td>Australia</td>,
  <td>261</td>,
  <td>72</td>,
  <td>212</td>,
  <td>10.4</td>],
 [<td class="blob-num js-line-number" data-line-number="11" id="L11"></td>,
  <td>Austria</td>,
  <td>279</td>,
  <td>75</td>,
  <td>191</td>,
  <td>9.7</td>],
 [<td class="blob-num js-line-number" data-line-number="12" id="L12"></td>,
  <td>Azerbaijan</td>,
  <td>21</td>,
  <td>46</td>,
  <td>5</td>,
  <td>1.3</td>],
 [<td class="blob-num js-line-number" data-line-number="13" id="L13"></td>,
  <td>Bahamas</td>,
  <td>122</td>,
  <td>176</td>,
  <td>51</td>,
  <td>6.3</td>],
 [<td class="blob-num js-line-number" data-line-number="14" id="L14"></td>,
  <td>Bahrain</td>,
  <td>42</td>,
  <td>63</td>,
  <td>7</td>,
  <td>2.0</td>],
 [<td class="blob-num js-line-number" data-line-number="15" id="L15"></td>,
  <td>Bangladesh</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="16" id="L16"></td>,
  <td>Barbados</td>,
  <td>143</td>,
  <td>173</td>,
  <td>36</td>,
  <td>6.3</td>],
 [<td class="blob-num js-line-number" data-line-number="17" id="L17"></td>,
  <td>Belarus</td>,
  <td>142</td>,
  <td>373</td>,
  <td>42</td>,
  <td>14.4</td>],
 [<td class="blob-num js-line-number" data-line-number="18" id="L18"></td>,
  <td>Belgium</td>,
  <td>295</td>,
  <td>84</td>,
  <td>212</td>,
  <td>10.5</td>],
 [<td class="blob-num js-line-number" data-line-number="19" id="L19"></td>,
  <td>Belize</td>,
  <td>263</td>,
  <td>114</td>,
  <td>8</td>,
  <td>6.8</td>],
 [<td class="blob-num js-line-number" data-line-number="20" id="L20"></td>,
  <td>Benin</td>,
  <td>34</td>,
  <td>4</td>,
  <td>13</td>,
  <td>1.1</td>],
 [<td class="blob-num js-line-number" data-line-number="21" id="L21"></td>,
  <td>Bhutan</td>,
  <td>23</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.4</td>],
 [<td class="blob-num js-line-number" data-line-number="22" id="L22"></td>,
  <td>Bolivia</td>,
  <td>167</td>,
  <td>41</td>,
  <td>8</td>,
  <td>3.8</td>],
 [<td class="blob-num js-line-number" data-line-number="23" id="L23"></td>,
  <td>Bosnia-Herzegovina</td>,
  <td>76</td>,
  <td>173</td>,
  <td>8</td>,
  <td>4.6</td>],
 [<td class="blob-num js-line-number" data-line-number="24" id="L24"></td>,
  <td>Botswana</td>,
  <td>173</td>,
  <td>35</td>,
  <td>35</td>,
  <td>5.4</td>],
 [<td class="blob-num js-line-number" data-line-number="25" id="L25"></td>,
  <td>Brazil</td>,
  <td>245</td>,
  <td>145</td>,
  <td>16</td>,
  <td>7.2</td>],
 [<td class="blob-num js-line-number" data-line-number="26" id="L26"></td>,
  <td>Brunei</td>,
  <td>31</td>,
  <td>2</td>,
  <td>1</td>,
  <td>0.6</td>],
 [<td class="blob-num js-line-number" data-line-number="27" id="L27"></td>,
  <td>Bulgaria</td>,
  <td>231</td>,
  <td>252</td>,
  <td>94</td>,
  <td>10.3</td>],
 [<td class="blob-num js-line-number" data-line-number="28" id="L28"></td>,
  <td>Burkina Faso</td>,
  <td>25</td>,
  <td>7</td>,
  <td>7</td>,
  <td>4.3</td>],
 [<td class="blob-num js-line-number" data-line-number="29" id="L29"></td>,
  <td>Burundi</td>,
  <td>88</td>,
  <td>0</td>,
  <td>0</td>,
  <td>6.3</td>],
 [<td class="blob-num js-line-number" data-line-number="30" id="L30"></td>,
  <td>Cote d'Ivoire</td>,
  <td>37</td>,
  <td>1</td>,
  <td>7</td>,
  <td>4.0</td>],
 [<td class="blob-num js-line-number" data-line-number="31" id="L31"></td>,
  <td>Cabo Verde</td>,
  <td>144</td>,
  <td>56</td>,
  <td>16</td>,
  <td>4.0</td>],
 [<td class="blob-num js-line-number" data-line-number="32" id="L32"></td>,
  <td>Cambodia</td>,
  <td>57</td>,
  <td>65</td>,
  <td>1</td>,
  <td>2.2</td>],
 [<td class="blob-num js-line-number" data-line-number="33" id="L33"></td>,
  <td>Cameroon</td>,
  <td>147</td>,
  <td>1</td>,
  <td>4</td>,
  <td>5.8</td>],
 [<td class="blob-num js-line-number" data-line-number="34" id="L34"></td>,
  <td>Canada</td>,
  <td>240</td>,
  <td>122</td>,
  <td>100</td>,
  <td>8.2</td>],
 [<td class="blob-num js-line-number" data-line-number="35" id="L35"></td>,
  <td>Central African Republic</td>,
  <td>17</td>,
  <td>2</td>,
  <td>1</td>,
  <td>1.8</td>],
 [<td class="blob-num js-line-number" data-line-number="36" id="L36"></td>,
  <td>Chad</td>,
  <td>15</td>,
  <td>1</td>,
  <td>1</td>,
  <td>0.4</td>],
 [<td class="blob-num js-line-number" data-line-number="37" id="L37"></td>,
  <td>Chile</td>,
  <td>130</td>,
  <td>124</td>,
  <td>172</td>,
  <td>7.6</td>],
 [<td class="blob-num js-line-number" data-line-number="38" id="L38"></td>,
  <td>China</td>,
  <td>79</td>,
  <td>192</td>,
  <td>8</td>,
  <td>5.0</td>],
 [<td class="blob-num js-line-number" data-line-number="39" id="L39"></td>,
  <td>Colombia</td>,
  <td>159</td>,
  <td>76</td>,
  <td>3</td>,
  <td>4.2</td>],
 [<td class="blob-num js-line-number" data-line-number="40" id="L40"></td>,
  <td>Comoros</td>,
  <td>1</td>,
  <td>3</td>,
  <td>1</td>,
  <td>0.1</td>],
 [<td class="blob-num js-line-number" data-line-number="41" id="L41"></td>,
  <td>Congo</td>,
  <td>76</td>,
  <td>1</td>,
  <td>9</td>,
  <td>1.7</td>],
 [<td class="blob-num js-line-number" data-line-number="42" id="L42"></td>,
  <td>Cook Islands</td>,
  <td>0</td>,
  <td>254</td>,
  <td>74</td>,
  <td>5.9</td>],
 [<td class="blob-num js-line-number" data-line-number="43" id="L43"></td>,
  <td>Costa Rica</td>,
  <td>149</td>,
  <td>87</td>,
  <td>11</td>,
  <td>4.4</td>],
 [<td class="blob-num js-line-number" data-line-number="44" id="L44"></td>,
  <td>Croatia</td>,
  <td>230</td>,
  <td>87</td>,
  <td>254</td>,
  <td>10.2</td>],
 [<td class="blob-num js-line-number" data-line-number="45" id="L45"></td>,
  <td>Cuba</td>,
  <td>93</td>,
  <td>137</td>,
  <td>5</td>,
  <td>4.2</td>],
 [<td class="blob-num js-line-number" data-line-number="46" id="L46"></td>,
  <td>Cyprus</td>,
  <td>192</td>,
  <td>154</td>,
  <td>113</td>,
  <td>8.2</td>],
 [<td class="blob-num js-line-number" data-line-number="47" id="L47"></td>,
  <td>Czech Republic</td>,
  <td>361</td>,
  <td>170</td>,
  <td>134</td>,
  <td>11.8</td>],
 [<td class="blob-num js-line-number" data-line-number="48" id="L48"></td>,
  <td>North Korea</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="49" id="L49"></td>,
  <td>DR Congo</td>,
  <td>32</td>,
  <td>3</td>,
  <td>1</td>,
  <td>2.3</td>],
 [<td class="blob-num js-line-number" data-line-number="50" id="L50"></td>,
  <td>Denmark</td>,
  <td>224</td>,
  <td>81</td>,
  <td>278</td>,
  <td>10.4</td>],
 [<td class="blob-num js-line-number" data-line-number="51" id="L51"></td>,
  <td>Djibouti</td>,
  <td>15</td>,
  <td>44</td>,
  <td>3</td>,
  <td>1.1</td>],
 [<td class="blob-num js-line-number" data-line-number="52" id="L52"></td>,
  <td>Dominica</td>,
  <td>52</td>,
  <td>286</td>,
  <td>26</td>,
  <td>6.6</td>],
 [<td class="blob-num js-line-number" data-line-number="53" id="L53"></td>,
  <td>Dominican Republic</td>,
  <td>193</td>,
  <td>147</td>,
  <td>9</td>,
  <td>6.2</td>],
 [<td class="blob-num js-line-number" data-line-number="54" id="L54"></td>,
  <td>Ecuador</td>,
  <td>162</td>,
  <td>74</td>,
  <td>3</td>,
  <td>4.2</td>],
 [<td class="blob-num js-line-number" data-line-number="55" id="L55"></td>,
  <td>Egypt</td>,
  <td>6</td>,
  <td>4</td>,
  <td>1</td>,
  <td>0.2</td>],
 [<td class="blob-num js-line-number" data-line-number="56" id="L56"></td>,
  <td>El Salvador</td>,
  <td>52</td>,
  <td>69</td>,
  <td>2</td>,
  <td>2.2</td>],
 [<td class="blob-num js-line-number" data-line-number="57" id="L57"></td>,
  <td>Equatorial Guinea</td>,
  <td>92</td>,
  <td>0</td>,
  <td>233</td>,
  <td>5.8</td>],
 [<td class="blob-num js-line-number" data-line-number="58" id="L58"></td>,
  <td>Eritrea</td>,
  <td>18</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.5</td>],
 [<td class="blob-num js-line-number" data-line-number="59" id="L59"></td>,
  <td>Estonia</td>,
  <td>224</td>,
  <td>194</td>,
  <td>59</td>,
  <td>9.5</td>],
 [<td class="blob-num js-line-number" data-line-number="60" id="L60"></td>,
  <td>Ethiopia</td>,
  <td>20</td>,
  <td>3</td>,
  <td>0</td>,
  <td>0.7</td>],
 [<td class="blob-num js-line-number" data-line-number="61" id="L61"></td>,
  <td>Fiji</td>,
  <td>77</td>,
  <td>35</td>,
  <td>1</td>,
  <td>2.0</td>],
 [<td class="blob-num js-line-number" data-line-number="62" id="L62"></td>,
  <td>Finland</td>,
  <td>263</td>,
  <td>133</td>,
  <td>97</td>,
  <td>10.0</td>],
 [<td class="blob-num js-line-number" data-line-number="63" id="L63"></td>,
  <td>France</td>,
  <td>127</td>,
  <td>151</td>,
  <td>370</td>,
  <td>11.8</td>],
 [<td class="blob-num js-line-number" data-line-number="64" id="L64"></td>,
  <td>Gabon</td>,
  <td>347</td>,
  <td>98</td>,
  <td>59</td>,
  <td>8.9</td>],
 [<td class="blob-num js-line-number" data-line-number="65" id="L65"></td>,
  <td>Gambia</td>,
  <td>8</td>,
  <td>0</td>,
  <td>1</td>,
  <td>2.4</td>],
 [<td class="blob-num js-line-number" data-line-number="66" id="L66"></td>,
  <td>Georgia</td>,
  <td>52</td>,
  <td>100</td>,
  <td>149</td>,
  <td>5.4</td>],
 [<td class="blob-num js-line-number" data-line-number="67" id="L67"></td>,
  <td>Germany</td>,
  <td>346</td>,
  <td>117</td>,
  <td>175</td>,
  <td>11.3</td>],
 [<td class="blob-num js-line-number" data-line-number="68" id="L68"></td>,
  <td>Ghana</td>,
  <td>31</td>,
  <td>3</td>,
  <td>10</td>,
  <td>1.8</td>],
 [<td class="blob-num js-line-number" data-line-number="69" id="L69"></td>,
  <td>Greece</td>,
  <td>133</td>,
  <td>112</td>,
  <td>218</td>,
  <td>8.3</td>],
 [<td class="blob-num js-line-number" data-line-number="70" id="L70"></td>,
  <td>Grenada</td>,
  <td>199</td>,
  <td>438</td>,
  <td>28</td>,
  <td>11.9</td>],
 [<td class="blob-num js-line-number" data-line-number="71" id="L71"></td>,
  <td>Guatemala</td>,
  <td>53</td>,
  <td>69</td>,
  <td>2</td>,
  <td>2.2</td>],
 [<td class="blob-num js-line-number" data-line-number="72" id="L72"></td>,
  <td>Guinea</td>,
  <td>9</td>,
  <td>0</td>,
  <td>2</td>,
  <td>0.2</td>],
 [<td class="blob-num js-line-number" data-line-number="73" id="L73"></td>,
  <td>Guinea-Bissau</td>,
  <td>28</td>,
  <td>31</td>,
  <td>21</td>,
  <td>2.5</td>],
 [<td class="blob-num js-line-number" data-line-number="74" id="L74"></td>,
  <td>Guyana</td>,
  <td>93</td>,
  <td>302</td>,
  <td>1</td>,
  <td>7.1</td>],
 [<td class="blob-num js-line-number" data-line-number="75" id="L75"></td>,
  <td>Haiti</td>,
  <td>1</td>,
  <td>326</td>,
  <td>1</td>,
  <td>5.9</td>],
 [<td class="blob-num js-line-number" data-line-number="76" id="L76"></td>,
  <td>Honduras</td>,
  <td>69</td>,
  <td>98</td>,
  <td>2</td>,
  <td>3.0</td>],
 [<td class="blob-num js-line-number" data-line-number="77" id="L77"></td>,
  <td>Hungary</td>,
  <td>234</td>,
  <td>215</td>,
  <td>185</td>,
  <td>11.3</td>],
 [<td class="blob-num js-line-number" data-line-number="78" id="L78"></td>,
  <td>Iceland</td>,
  <td>233</td>,
  <td>61</td>,
  <td>78</td>,
  <td>6.6</td>],
 [<td class="blob-num js-line-number" data-line-number="79" id="L79"></td>,
  <td>India</td>,
  <td>9</td>,
  <td>114</td>,
  <td>0</td>,
  <td>2.2</td>],
 [<td class="blob-num js-line-number" data-line-number="80" id="L80"></td>,
  <td>Indonesia</td>,
  <td>5</td>,
  <td>1</td>,
  <td>0</td>,
  <td>0.1</td>],
 [<td class="blob-num js-line-number" data-line-number="81" id="L81"></td>,
  <td>Iran</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="82" id="L82"></td>,
  <td>Iraq</td>,
  <td>9</td>,
  <td>3</td>,
  <td>0</td>,
  <td>0.2</td>],
 [<td class="blob-num js-line-number" data-line-number="83" id="L83"></td>,
  <td>Ireland</td>,
  <td>313</td>,
  <td>118</td>,
  <td>165</td>,
  <td>11.4</td>],
 [<td class="blob-num js-line-number" data-line-number="84" id="L84"></td>,
  <td>Israel</td>,
  <td>63</td>,
  <td>69</td>,
  <td>9</td>,
  <td>2.5</td>],
 [<td class="blob-num js-line-number" data-line-number="85" id="L85"></td>,
  <td>Italy</td>,
  <td>85</td>,
  <td>42</td>,
  <td>237</td>,
  <td>6.5</td>],
 [<td class="blob-num js-line-number" data-line-number="86" id="L86"></td>,
  <td>Jamaica</td>,
  <td>82</td>,
  <td>97</td>,
  <td>9</td>,
  <td>3.4</td>],
 [<td class="blob-num js-line-number" data-line-number="87" id="L87"></td>,
  <td>Japan</td>,
  <td>77</td>,
  <td>202</td>,
  <td>16</td>,
  <td>7.0</td>],
 [<td class="blob-num js-line-number" data-line-number="88" id="L88"></td>,
  <td>Jordan</td>,
  <td>6</td>,
  <td>21</td>,
  <td>1</td>,
  <td>0.5</td>],
 [<td class="blob-num js-line-number" data-line-number="89" id="L89"></td>,
  <td>Kazakhstan</td>,
  <td>124</td>,
  <td>246</td>,
  <td>12</td>,
  <td>6.8</td>],
 [<td class="blob-num js-line-number" data-line-number="90" id="L90"></td>,
  <td>Kenya</td>,
  <td>58</td>,
  <td>22</td>,
  <td>2</td>,
  <td>1.8</td>],
 [<td class="blob-num js-line-number" data-line-number="91" id="L91"></td>,
  <td>Kiribati</td>,
  <td>21</td>,
  <td>34</td>,
  <td>1</td>,
  <td>1.0</td>],
 [<td class="blob-num js-line-number" data-line-number="92" id="L92"></td>,
  <td>Kuwait</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="93" id="L93"></td>,
  <td>Kyrgyzstan</td>,
  <td>31</td>,
  <td>97</td>,
  <td>6</td>,
  <td>2.4</td>],
 [<td class="blob-num js-line-number" data-line-number="94" id="L94"></td>,
  <td>Laos</td>,
  <td>62</td>,
  <td>0</td>,
  <td>123</td>,
  <td>6.2</td>],
 [<td class="blob-num js-line-number" data-line-number="95" id="L95"></td>,
  <td>Latvia</td>,
  <td>281</td>,
  <td>216</td>,
  <td>62</td>,
  <td>10.5</td>],
 [<td class="blob-num js-line-number" data-line-number="96" id="L96"></td>,
  <td>Lebanon</td>,
  <td>20</td>,
  <td>55</td>,
  <td>31</td>,
  <td>1.9</td>],
 [<td class="blob-num js-line-number" data-line-number="97" id="L97"></td>,
  <td>Lesotho</td>,
  <td>82</td>,
  <td>29</td>,
  <td>0</td>,
  <td>2.8</td>],
 [<td class="blob-num js-line-number" data-line-number="98" id="L98"></td>,
  <td>Liberia</td>,
  <td>19</td>,
  <td>152</td>,
  <td>2</td>,
  <td>3.1</td>],
 [<td class="blob-num js-line-number" data-line-number="99" id="L99"></td>,
  <td>Libya</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="100" id="L100"></td>,
  <td>Lithuania</td>,
  <td>343</td>,
  <td>244</td>,
  <td>56</td>,
  <td>12.9</td>],
 [<td class="blob-num js-line-number" data-line-number="101" id="L101"></td>,
  <td>Luxembourg</td>,
  <td>236</td>,
  <td>133</td>,
  <td>271</td>,
  <td>11.4</td>],
 [<td class="blob-num js-line-number" data-line-number="102" id="L102"></td>,
  <td>Madagascar</td>,
  <td>26</td>,
  <td>15</td>,
  <td>4</td>,
  <td>0.8</td>],
 [<td class="blob-num js-line-number" data-line-number="103" id="L103"></td>,
  <td>Malawi</td>,
  <td>8</td>,
  <td>11</td>,
  <td>1</td>,
  <td>1.5</td>],
 [<td class="blob-num js-line-number" data-line-number="104" id="L104"></td>,
  <td>Malaysia</td>,
  <td>13</td>,
  <td>4</td>,
  <td>0</td>,
  <td>0.3</td>],
 [<td class="blob-num js-line-number" data-line-number="105" id="L105"></td>,
  <td>Maldives</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="106" id="L106"></td>,
  <td>Mali</td>,
  <td>5</td>,
  <td>1</td>,
  <td>1</td>,
  <td>0.6</td>],
 [<td class="blob-num js-line-number" data-line-number="107" id="L107"></td>,
  <td>Malta</td>,
  <td>149</td>,
  <td>100</td>,
  <td>120</td>,
  <td>6.6</td>],
 [<td class="blob-num js-line-number" data-line-number="108" id="L108"></td>,
  <td>Marshall Islands</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="109" id="L109"></td>,
  <td>Mauritania</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="110" id="L110"></td>,
  <td>Mauritius</td>,
  <td>98</td>,
  <td>31</td>,
  <td>18</td>,
  <td>2.6</td>],
 [<td class="blob-num js-line-number" data-line-number="111" id="L111"></td>,
  <td>Mexico</td>,
  <td>238</td>,
  <td>68</td>,
  <td>5</td>,
  <td>5.5</td>],
 [<td class="blob-num js-line-number" data-line-number="112" id="L112"></td>,
  <td>Micronesia</td>,
  <td>62</td>,
  <td>50</td>,
  <td>18</td>,
  <td>2.3</td>],
 [<td class="blob-num js-line-number" data-line-number="113" id="L113"></td>,
  <td>Monaco</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0</td>,
  <td>0.0</td>],
 [<td class="blob-num js-line-number" data-line-number="114" id="L114"></td>,
  <td>Mongolia</td>,
  <td>77</td>,
  <td>189</td>,
  <td>8</td>,
  <td>4.9</td>],
 [<td class="blob-num js-line-number" data-line-number="115" id="L115"></td>,
  <td>Montenegro</td>,
  <td>31</td>,
  <td>114</td>,
  <td>128</td>,
  <td>4.9</td>],
 [<td class="blob-num js-line-number" data-line-number="116" id="L116"></td>,
  <td>Morocco</td>,
  <td>12</td>,
  <td>6</td>,
  <td>10</td>,
  <td>0.5</td>],
 [<td class="blob-num js-line-number" data-line-number="117" id="L117"></td>,
  <td>Mozambique</td>,
  <td>47</td>,
  <td>18</td>,
  <td>5</td>,
  <td>1.3</td>],
 [<td class="blob-num js-line-number" data-line-number="118" id="L118"></td>,
  <td>Myanmar</td>,
  <td>5</td>,
  <td>1</td>,
  <td>0</td>,
  <td>0.1</td>],
 [<td class="blob-num js-line-number" data-line-number="119" id="L119"></td>,
  <td>Namibia</td>,
  <td>376</td>,
  <td>3</td>,
  <td>1</td>,
  <td>6.8</td>],
 [<td class="blob-num js-line-number" data-line-number="120" id="L120"></td>,
  <td>Nauru</td>,
  <td>49</td>,
  <td>0</td>,
  <td>8</td>,
  <td>1.0</td>],
 [<td class="blob-num js-line-number" data-line-number="121" id="L121"></td>,
  <td>Nepal</td>,
  <td>5</td>,
  <td>6</td>,
  <td>0</td>,
  <td>0.2</td>],
 [<td class="blob-num js-line-number" data-line-number="122" id="L122"></td>,
  <td>Netherlands</td>,
  <td>251</td>,
  <td>88</td>,
  <td>190</td>,
  <td>9.4</td>],
 [<td class="blob-num js-line-number" data-line-number="123" id="L123"></td>,
  <td>New Zealand</td>,
  <td>203</td>,
  <td>79</td>,
  <td>175</td>,
  <td>9.3</td>],
 [<td class="blob-num js-line-number" data-line-number="124" id="L124"></td>,
  <td>Nicaragua</td>,
  <td>78</td>,
  <td>118</td>,
  <td>1</td>,
  <td>3.5</td>],
 [<td class="blob-num js-line-number" data-line-number="125" id="L125"></td>,
  <td>Niger</td>,
  <td>3</td>,
  <td>2</td>,
  <td>1</td>,
  <td>0.1</td>],
 [<td class="blob-num js-line-number" data-line-number="126" id="L126"></td>,
  <td>Nigeria</td>,
  <td>42</td>,
  <td>5</td>,
  <td>2</td>,
  <td>9.1</td>],

In [547]:
df = pd.DataFrame(new_list)
df

      0              1      2      3      4       5
0    []           None   None   None   None    None
1    []  [Afghanistan]    [0]    [0]    [0]   [0.0]
2    []      [Albania]   [89]  [132]   [54]   [4.9]
3    []      [Algeria]   [25]    [0]   [14]   [0.7]
4    []      [Andorra]  [245]  [138]  [312]  [12.4]
..   ..            ...    ...    ...    ...     ...
189  []    [Venezuela]  [333]  [100]    [3]   [7.7]
190  []      [Vietnam]  [111]    [2]    [1]   [2.0]
191  []        [Yemen]    [6]    [0]    [0]   [0.1]
192  []       [Zambia]   [32]   [19]    [4]   [2.5]
193  []     [Zimbabwe]   [64]   [18]    [4]   [4.7]

[194 rows x 6 columns]

## Limpeza dos Dados
> ...

In [548]:
df.drop(columns=[0], inplace=True)
df

                 1      2      3      4       5
0             None   None   None   None    None
1    [Afghanistan]    [0]    [0]    [0]   [0.0]
2        [Albania]   [89]  [132]   [54]   [4.9]
3        [Algeria]   [25]    [0]   [14]   [0.7]
4        [Andorra]  [245]  [138]  [312]  [12.4]
..             ...    ...    ...    ...     ...
189    [Venezuela]  [333]  [100]    [3]   [7.7]
190      [Vietnam]  [111]    [2]    [1]   [2.0]
191        [Yemen]    [6]    [0]    [0]   [0.1]
192       [Zambia]   [32]   [19]    [4]   [2.5]
193     [Zimbabwe]   [64]   [18]    [4]   [4.7]

[194 rows x 5 columns]

In [549]:
df = df.drop(0)
df

                 1      2      3      4       5
1    [Afghanistan]    [0]    [0]    [0]   [0.0]
2        [Albania]   [89]  [132]   [54]   [4.9]
3        [Algeria]   [25]    [0]   [14]   [0.7]
4        [Andorra]  [245]  [138]  [312]  [12.4]
5         [Angola]  [217]   [57]   [45]   [5.9]
..             ...    ...    ...    ...     ...
189    [Venezuela]  [333]  [100]    [3]   [7.7]
190      [Vietnam]  [111]    [2]    [1]   [2.0]
191        [Yemen]    [6]    [0]    [0]   [0.1]
192       [Zambia]   [32]   [19]    [4]   [2.5]
193     [Zimbabwe]   [64]   [18]    [4]   [4.7]

[193 rows x 5 columns]

In [550]:
df = df.rename(columns={1: 'pais', 2: 'porcoes_de_cerveja', 3: 'bebidas_espirituosas', 4: 'porcoes_de_vinho', 5: 'total_puro_alcool'})
df

,pais,porcoes_de_cerveja,bebidas_espirituosas,porcoes_de_vinho,total_puro_alcool
1,[Afghanistan],[0],[0],[0],[0.0]
2,[Albania],[89],[132],[54],[4.9]
3,[Algeria],[25],[0],[14],[0.7]
4,[Andorra],[245],[138],[312],[12.4]
5,[Angola],[217],[57],[45],[5.9]
...,...,...,...,...,...
189,[Venezuela],[333],[100],[3],[7.7]
190,[Vietnam],[111],[2],[1],[2.0]
191,[Yemen],[6],[0],[0],[0.1]
192,[Zambia],[32],[19],[4],[2.5]
193,[Zimbabwe],[64],[18],[4],[4.7]

In [551]:
df = df.reset_index()
df.drop(columns=['index'], inplace=True)
df

,pais,porcoes_de_cerveja,bebidas_espirituosas,porcoes_de_vinho,total_puro_alcool
0,[Afghanistan],[0],[0],[0],[0.0]
1,[Albania],[89],[132],[54],[4.9]
2,[Algeria],[25],[0],[14],[0.7]
3,[Andorra],[245],[138],[312],[12.4]
4,[Angola],[217],[57],[45],[5.9]
...,...,...,...,...,...
188,[Venezuela],[333],[100],[3],[7.7]
189,[Vietnam],[111],[2],[1],[2.0]
190,[Yemen],[6],[0],[0],[0.1]
191,[Zambia],[32],[19],[4],[2.5]
192,[Zimbabwe],[64],[18],[4],[4.7]

In [552]:
for i in range(len(df['pais'])):
    df['pais'][i] = df['pais'][i].get_text()
    df['porcoes_de_cerveja'][i] = df['porcoes_de_cerveja'][i].get_text()
    df['bebidas_espirituosas'][i] = df['bebidas_espirituosas'][i].get_text()
    df['porcoes_de_vinho'][i] = df['porcoes_de_vinho'][i].get_text()
    df['total_puro_alcool'][i] = df['total_puro_alcool'][i].get_text()

df

,pais,porcoes_de_cerveja,bebidas_espirituosas,porcoes_de_vinho,total_puro_alcool
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [553]:
df.dtypes

pais                    object
porcoes_de_cerveja      object
bebidas_espirituosas    object
porcoes_de_vinho        object
total_puro_alcool       object
dtype: object

In [554]:
df['porcoes_de_cerveja'] = df['porcoes_de_cerveja'].astype('int64')
df['bebidas_espirituosas'] = df['bebidas_espirituosas'].astype('int64')
df['porcoes_de_vinho'] = df['porcoes_de_vinho'].astype('int64')
df['total_puro_alcool'] = df['total_puro_alcool'].astype(float)

In [555]:
df.dtypes

pais                     object
porcoes_de_cerveja        int64
bebidas_espirituosas      int64
porcoes_de_vinho          int64
total_puro_alcool       float64
dtype: object

## Exploração dos Dados
> ...

In [556]:
df.shape

(193, 5)

In [558]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   pais                  193 non-null    object
 1   porcoes_de_cerveja    193 non-null    int64
 2   bebidas_espirituosas  193 non-null    int64
 3   porcoes_de_vinho      193 non-null    int64
 4   total_puro_alcool     193 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 7.7+ KB

In [559]:
df.isnull().sum()

pais                    0
porcoes_de_cerveja      0
bebidas_espirituosas    0
porcoes_de_vinho        0
total_puro_alcool       0
dtype: int64

In [560]:
df.isna().sum()

pais                    0
porcoes_de_cerveja      0
bebidas_espirituosas    0
porcoes_de_vinho        0
total_puro_alcool       0
dtype: int64

In [565]:
df.head()

,pais,porcoes_de_cerveja,bebidas_espirituosas,porcoes_de_vinho,total_puro_alcool
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

In [567]:
df.sort_values(by=['total_puro_alcool'], ascending=False)

,pais,porcoes_de_cerveja,bebidas_espirituosas,porcoes_de_vinho,total_puro_alcool
15,Belarus,142,373,42,14.4
98,Lithuania,343,244,56,12.9
3,Andorra,245,138,312,12.4
68,Grenada,199,438,28,11.9
45,Czech Republic,361,170,134,11.8
...,...,...,...,...,...
79,Iran,0,0,0,0.0
90,Kuwait,0,0,0,0.0
128,Pakistan,0,0,0,0.0
97,Libya,0,0,0,0.0
0,Afghanistan,0,0,0,0.0

## Modelagem dos Dados
> ...

## Algoritmos de Machine Laearning
> ...

## Avaliação do algoritimo
> ...

## Storytelling
> ...